
<div class="col-lg-10 col-lg-offset-1"> 
    <div class="row statistics">
        <div class="col-6 linediv-l">
            <h3>{{ backers_count }}</h3><p>backers</p>
        </div>
        <div class="col-6">
            <div class="linediv-c">
                <h3>${{ current_balance }}</h3><p>of $300,000</p>
            </div>
        </div>
    </div>
    <div class="row">
       <div class="thermometer progress active">
         <div class="progress-bar progress-bar-success" style="width: 0%;"></div>
         <div class="progress-bar progress-bar-warning" style="width: 100%;"></div>
       </div>
    </div>
    <div class="row statistics">
       <div class="col-12">
         <h4>{{ start_date|timeuntil }} left</h4>
       </div>
    </div>
</div>
