{% extends '_layouts/base.html' %}

{% block page_title %}Bitstarter{% endblock %}

{% block page_styles %}
    <link href='{{ STATIC_URL }}css/bitstarter/main.css' rel='stylesheet' type='text/css'>
    <link href='{{ STATIC_URL }}css/bitstarter/mission.css' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Pathway+Gothic+One&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,100italic,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
{% endblock %}

{% block page_scripts %}
    <script src="{{ STATIC_URL }}js/jquery.tinyscrollbar.min.js"></script>
    <script src="{{ STATIC_URL }}js/waypoints.min.js"></script>
{% endblock %}

{% block page_content %}
<body data-spy="scroll" data-target="#navbar" data-offset=70>
{% include 'addons/menu.html' %}
{% include 'sections/dashboard.html' %}
{% include 'sections/mission.html' %}
{% include 'sections/at-a-glance.html' %}
{% include 'sections/features.html' %}
{% include 'sections/source-code.html' %}
{% include 'sections/mobile.html' %}
{% include 'sections/sandbox.html' %}
{% include 'sections/roadmap.html' %}
{% include 'sections/contact.html' %}
<footer class="row-spacer">
<div class="container center">
    <div class="copyright">© 2013 Thinking In Box</div>
</div>
</footer>
</body>
{% endblock %}

{% block end_scripts %}
<script>
	$(document).ready(function () {
		$('section').waypoint(function () {
			console.log(this);
			$(this).animate({opacity: 1}, 1500);	
		}, {offset: '95%'});
	});
</script>
{% endblock %}
