{% extends '_layouts/base.html' %}

{% block page_title %}Bitstarter{% endblock %}

{% block page_styles %}
    <link href='{{ STATIC_URL }}css/bitstarter/main.css' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Pathway+Gothic+One&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,100italic,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
{% endblock %}

{% block page_content %}

{% include 'addons/menu.html' %}
<section id="dashboard">
    <div class="container">
        Sample Text
        <h1>Bistarter Home Page</h1>
    </div>
</section>
<section class="section-odd">
    <div></div>
</section>
<section class="section-even">
    <div></div>
</section>
<section class="section-odd" id="mobile">
    <label>Mobile</label>
    <div class="container">
        <h2 class="slogan">Your minds with you always and anywhere</h2>
        <ul class="icons-ul feature-details">
            <li><i class="icon-li icon-ok-circle"></i>Autosync for all connected devices</li>
            <li><i class="icon-li icon-ok-circle"></i>Offline access</li>
            <li><i class="icon-li icon-ok-circle"></i>Task reminder</li>
            <li><i class="icon-li icon-ok-circle"></i>Fast notes adding</li>
        </ul>
        <div class="row platforms">
            <div class="col-lg-2 col-lg-offset-2"><i class="icon-android icon-5x"></i></div>
            <div class="col-lg-2 col-lg-offset-1"><i class="icon-apple icon-5x"></i></div>
            <div class="col-lg-2 col-lg-offset-1"><i class="icon-html5 icon-5x"></i></div>
        </div>
    </div>
</section>
<section class="section-even" id="source-code">
    <label>Source Code</label>
    <div class="container">
        <h2 class="slogan">We are open and user-oriented service</h2>
        <h2 class="slogan">Crowdfunding, crowdthinking and crowdsourcing</h2>
        <div class="col-lg-6">
            <ul class="icons-ul feature-details">
                <li><i class="icon-li icon-ok-circle"></i>Open source front-end HTML/CSS/JS framework</li>
                <li><i class="icon-li icon-ok-circle"></i>Open source back-end DJANGO-based framework</li>
                <li><i class="icon-li icon-ok-circle"></i>API for tools development</li>
                <li><i class="icon-li icon-ok-circle"></i>Full source code documentation</li>
            </ul>
        </div>
        <div class="col-lg-6">
            <div class="feature-picture">
                <div class="col-lg-1 col-lg-offset-3"><i class="icon-bitbucket icon-5x"></i></div>
                <div class="col-lg-1 col-lg-offset-3"><i class="icon-github-alt icon-5x"></i></div>
            </div>
        </div>
    </div>
</section>
<section class="section-odd" id="sandbox">
    <label>Sandbox</label>
    <div class="container">
        <h2 class="slogan">Easy to try</h2>
        <ul class="icons-ul feature-details">
            <li><i class="icon-li icon-ok-circle"></i>Early new features access</li>
            <li><i class="icon-li icon-ok-circle"></i>Third-party tools testing</li>
            <li><i class="icon-li icon-ok-circle"></i>Easy access without registration</li>
            <li><i class="icon-li icon-ok-circle"></i>Completely anonymous</li>
        </ul>
    </div>
</section>
<section class="section-even" id="roadmap">
    <label>Roadmap</label>
    <div class="container">
        <h2 class="slogan">Long, long way to goal</h2>
        <ul class="icons-ul feature-details">
            <li><i class="icon-li icon-ok-circle"></i>Funding</li>
            <li><i class="icon-li icon-ok-circle"></i>First version development</li>
            <li><i class="icon-li icon-ok-circle"></i>Beta-testing</li>
            <li><i class="icon-li icon-ok-circle"></i>Social tools</li>
            <li><i class="icon-li icon-ok-circle"></i>Work tools</li>
        </ul>
    </div>
</section>
<section id="contact">
    <label>Contact Us</label>
<div class="container">
    <div class="row">
        <div class="col-lg-5" id="send-message">
            <h3 class="subheader">Leave a message
            </h3>
            <form id="contact-form" action="post">
                <input type="text" class="form-control" id="username" name="username" placeholder="Your name">
                <input type="text" class="form-control" id="email" name="email" placeholder="Your email">
                <textarea class="form-control" rows="5" placeholder="Your message"></textarea>
                <button type="button" class="btn btn-default pull-right btn-lg">Send</button>
            </form>
        </div>
        <div class="col-lg-2" id="social-links">
            <h3 class="subheader">Say Hello</h3> 
            <a href="https://www.facebook.com/pages/Mind-In-Box/441521382628763">
               <i class="icon-facebook-sign"></i>
            </a>
            <a href="https://plus.google.com/105710048981765121190" rel="publisher">
               <i class="icon-google-plus-sign"></i>
            </a> 
            <a href="#">
                <i class="icon-twitter-sign"></i>
            </a>
        </div>
        <div class="col-lg-5" id="read-us">
        </div>
    </div>
</div>
</section>
<section class="row-spacer">
</section>
{% endblock %}
