{% extends '_layouts/base.html' %}

{% block page_title %}Bitstarter{% endblock %}

{% block page_header %}
    <link href='{{ STATIC_URL }}css/bitstarter/main.css' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Pathway+Gothic+One&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
{% endblock %}

{% block page_content %}

{% include 'addons/menu.html' %}
<div class="container">
    Sample Text
    <h1>Bistarter Home Page</h1>
</div>
{% endblock %}
