<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
<style>
    .font-cursive {
        font-family: 'Shadows Into Light Two', cursive;
    }

    .next-control {
        position: absolute;
        bottom: 30px;
        right: 20px;
    }
    .prev-control {
        position: absolute;
        bottom: 30px;
        left: 20px;
    }

    .carousel-indicators li {
        border-radius: 0px;
        border: 2px solid rgba(140, 190, 41, 0.5); 
    }

    .carousel-indicators .active {
        background-color: rgba(140, 190, 41, 0.3);
    }

    .carousel-button {
        font: 18px/18px 'Shadows Into Light Two', cursive;
        position: absolute;
        bottom: 25px;
        z-index: 30;
    }

    .carousel-button.left {
        left: 30%;
    }
        
    .carousel-button.right {
        right: 30%;
    }

    .carousel-inner > .item {
        height: 500px;
        overflow: hidden;
    }

    .carousel-inner > .item > .header {
        color: rgba(25, 162, 222, 1);
        position: absolute;
        font: 36px/42px 'Shadows Into Light Two', cursive;
        width: 50%;
        top: 30px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        z-index: 2;
    }

    .carousel-inner > .item > .comment {
        color: rgba(100, 100, 100, 1);
        position: absolute;
        font: 300 18px/30px 'Roboto', sans-serif;
        width: 40%;
        vertical-align: middle;
        top: 120px;
        bottom: 120px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        z-index: 2;
    }

    .comment > p {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .carousel-inner > .item > .image {
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        bottom: 120px;
        max-width: 200%;
        z-index: 1;
    }

    .carousel-inner > .item > .header.left, 
    .carousel-inner > .item > .comment.left, 
    .carousel-inner > .item > .image.left {
        left: 10%;
        margin-left: 0;
        text-align: left;
    }

    .carousel-inner > .item > .header.right, 
    .carousel-inner > .item > .comment.right, 
    .carousel-inner > .item > .image.right {
        right: 10%;
        margin-right: 0;
        text-align: right;
    }


</style>
<section class="section-odd" id="at-glance">
    <div class="anchor-marker" id="at-glance-anchor"></div>
    <label>Mind in Box at a glance</label>
    <div class="container">
        <h2 class="slogan">What is the box?</h2>
        <div id="carousel-what" class="carousel slide" data-interval="5000">
          <!-- Indicators -->
          <ol class="carousel-indicators">
              <li data-target="#carousel-what" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-what" data-slide-to="1"></li>
              <li data-target="#carousel-what" data-slide-to="2"></li>
              <li data-target="#carousel-what" data-slide-to="3"></li>
              <li data-target="#carousel-what" data-slide-to="4"></li>
              <li data-target="#carousel-what" data-slide-to="5"></li>
              <li data-target="#carousel-what" data-slide-to="6"></li>
              <li data-target="#carousel-what" data-slide-to="7"></li>
          </ol>
          
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
             <div class="item active">
                 <div class="header">
                     Box is idea, note, tasks, tool...
                 </div>
                 <div class="comment">
                     It can be all that you need to control your life.
                 </div>
                 <img class="image" src="{{ STATIC_URL }}img/at-a-glance-what-is.png" width=450px>
             </div>
             <div class="item">
                 <div class="header left">Keep all your thoughts in one place</div>
                 <div class="comment right">
                     <p>
                     Box is a tool for storing ideas, notes, tasks, tools, and other boxes in one place.
                     </p>
                     <p>
                     It helps you not to miss anything.
                     </p>
                     <p>
                     Create a <a href="#mobile-anchor">mobile box</a> and all your thoughts will be always with you anywhere.
                     </p>
                 </div>
                 <img class="image left" src="{{ STATIC_URL }}img/at-a-glance-all-together.png" width=350px>
             </div>
             <div class="item">
                 <div class="comment left">
                     <p>
                     It's difficult to achieve big goals at once.
                     </p>
                     <p>
                     Large problems can be confusing and frustrating.
                     </p>
                     <p>
                     Divide your tasks into small pieces and it will help make the job easier, increase motivation and reduce frustration.
                     </p>
                 </div>
                  <div class="header right">
                      Makes complex things simple
                  </div>
                 <img class="image right" src="{{ STATIC_URL }}img/at-a-glance-make-simplier.png" width=400px>
             </div>
             <div class="item">
                  <div class="header left">
                      Simple way from idea to action
                  </div>
                 <img class="image left" src="{{ STATIC_URL }}img/at-a-glance-migration.png" width=400px>
                 <div class="comment right">
                     <p>
                     On the way to the goal can be difficult to make the first step.
                     </p>
                     <p>
                     We want to make the path from idea to action as short as possible to reduce the cost of secondary tasks.
                     </p>
                 </div>
             </div>
             <div class="item">
                  <div class="header right">
                      Helps focus on the current task
                  </div>
                 <img class="image right" src="{{ STATIC_URL }}img/at-a-glance-focus.png" width=400px>
                 <div class="comment left">
                     <p>
                     While working it is important to focus.
                     </p>
                     <p>
                     Unnecessary information can prevent you from doing your job quickly and efficiently.
                     </p>
                     <p>
                     Throw away all unnecessary and distracting, take only what you really need.
                     </p>
                 </div>
             </div>
             <div class="item">
                  <div class="header left">
                      Global view of the big goals
                  </div>
                 <img class="image left" src="{{ STATIC_URL }}img/at-a-glance-global-view.png" width=400px>
                 <div class="comment right">
                     <p>
                     General look at your goal helps set direction and milestones of your work.
                     </p>
                     <p>
                     Look at your goal as a whole.
                     </p>
                     <p>
                     Manage life, not actions.
                     </p>
                 </div>
             </div>
             <div class="item">
                  <div class="header right">
                      Your own workspace
                  </div>
                 <img class="image right" src="{{ STATIC_URL }}img/at-a-glance-personal.png" width=400px>
                 <div class="comment left">
                     <p>
                     The box can be customized for each user.
                     </p>
                     <p>
                     Create your own personal workspace in which you will be able act freely, and you will be comfortably.
                     </p>
                 </div>
             </div>
             <div class="item">
                  <div class="header left">
                      The best tool for small tasks and great goals
                  </div>
                 <img class="image left" src="{{ STATIC_URL }}img/at-a-glance-best-tool.png" width=400px>
                 <div class="comment right">
                     <p>
                     We are creating a service by which you will be able to effectively manage the goals and tasks regardless of their size and duration.
                     </p>
                     <p>
                     </p>
                 </div>
             </div>
          </div>
          
          <!-- Controls -->
          <a class="carousel-button left" href="#carousel-what" data-slide="prev"><img src="{{ STATIC_URL }}img/prev-arrow.png" alt="">Less</a>
          <a class="carousel-button right" href="#carousel-what" data-slide="next">More<img src="{{ STATIC_URL }}img/next-arrow.png" alt=""></a>
      </div>
      <style>
        #how-works-board {
            color: rgba(25, 162, 222, 1);
            font: 30px/42px 'Shadows Into Light Two', cursive;
            margin-top: 50px;
            margin-bottom: 50px;
            height: 500px;
            background-color: rgba(255, 255, 255, 1);
        }

        #how-works-board .item {
            margin-top: 50px;
        }

        #how-works-board.item.left {
            margin-top: 0;
            margin-bottom: 50px;
        }

        #how-works-board .item.right {
            margin-top: 50px;
            margin-bottom: 0;
        }
      </style>
        <div class="center" style="display: none;">
            <h2 class="slogan">How it works?</h2>
            <div id="how-works-board" class="font-cursive">
                <div class="row">
                    <div class="item col-lg-5 item">Set the goal</div>
                    <div class="col-lg-5 col-lg-offset-2 item right">Collect all the ideas about the expected result</div>
                </div>
                <div class="row">
                    <div class="col-lg-5 item left">Share your ideas the other people and let them improve it</div>
                    <div class="col-lg-5 col-lg-offset-2 item right">Define the tasks</div>
                </div>
                <div class="row">
                    <div class="col-lg-5 item left">Do the task yourself or find an assistant</div>
                    <div class="col-lg-5 col-lg-offset-2 item right">Enjoy obtained results</div>
                </div>
                <div class="row">
                    <div class="center">Go to the next goal</div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('.carousel').carousel()
    </script>
</section>
