<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
<style>
    .font-cursive {
        font-family: 'Shadows Into Light Two', cursive;
    }

    .next-control {
        position: absolute;
        bottom: 30px;
        right: 20px;
    }
    .prev-control {
        position: absolute;
        bottom: 30px;
        left: 20px;
    }

    .carousel-indicators li {
        border-radius: 0px;
        border: 2px solid rgba(140, 190, 41, 0.5); 
    }

    .carousel-indicators .active {
        background-color: rgba(140, 190, 41, 0.3);
    }

    .carousel-button {
        font: 18px/18px 'Shadows Into Light Two', cursive;
        position: absolute;
        bottom: 25px;
        z-index: 30;
    }

    .carousel-button.left {
        left: 30%;
    }
        
    .carousel-button.right {
        right: 30%;
    }

    .carousel-inner > .item {
        height: 500px;
        overflow: hidden;
    }

    .carousel-inner > .item > .header {
        color: rgba(25, 162, 222, 1);
        position: absolute;
        font: 36px/42px 'Shadows Into Light Two', cursive;
        width: 50%;
        top: 30px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        z-index: 2;
    }

    .carousel-inner > .item > .comment {
        color: rgba(100, 100, 100, 1);
        position: absolute;
        font: 300 18px/30px 'Roboto', sans-serif;
        width: 40%;
        vertical-align: middle;
        top: 120px;
        bottom: 120px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        z-index: 2;
    }

    .comment > p {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .carousel-inner > .item > .image {
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        bottom: 120px;
        max-width: 200%;
        z-index: 1;
    }

    .carousel-inner > .item > .header.left, 
    .carousel-inner > .item > .comment.left, 
    .carousel-inner > .item > .image.left {
        left: 10%;
        margin-left: 0;
        text-align: left;
    }

    .carousel-inner > .item > .header.right, 
    .carousel-inner > .item > .comment.right, 
    .carousel-inner > .item > .image.right {
        right: 10%;
        margin-right: 0;
        text-align: right;
    }


</style>
<section class="section-odd" id="at-glance">
    <div class="anchor-marker" id="at-glance-anchor"></div>
    <label>Thinking in Box at a glance</label>
    <div class="container">
        <h2 class="slogan">What is the box?</h2>
        <div id="carousel-what" class="carousel slide" data-interval="5000">
          <!-- Indicators -->
          <ol class="carousel-indicators">
              <li data-target="#carousel-what" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-what" data-slide-to="1"></li>
              <li data-target="#carousel-what" data-slide-to="2"></li>
              <li data-target="#carousel-what" data-slide-to="3"></li>
              <li data-target="#carousel-what" data-slide-to="4"></li>
              <li data-target="#carousel-what" data-slide-to="5"></li>
              <li data-target="#carousel-what" data-slide-to="6"></li>
              <li data-target="#carousel-what" data-slide-to="7"></li>
          </ol>
          
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
             <div class="item active">
                 <div class="header">
                     Box is idea, note, tasks, tool...
                 </div>
                 <div class="comment">
                     It can be all that you need to control your life.
                 </div>
                 <img class="image" src="{{ STATIC_URL }}img/at-a-glance-what-is.png" width=450px>
             </div>
             <div class="item">
                 <div class="header left">Keep all your thoughts in one place</div>
                 <div class="comment right">
                     <p>
                     Box is a tool for storing ideas, notes, tasks, tools, and other boxes in one place.
                     </p>
                     <p>
                     It helps you not to miss anything.
                     </p>
                     <p>
                     Create a <a href="#mobile-anchor">mobile box</a> and all your thoughts will be always with you anywhere.
                     </p>
                 </div>
                 <img class="image left" src="{{ STATIC_URL }}img/at-a-glance-all-together.png" width=350px>
             </div>
             <div class="item">
                 <div class="comment left">
                     <p>
                     It's difficult to achieve big goals at once.
                     </p>
                     <p>
                     Large problems can be confusing and frustrating.
                     </p>
                     <p>
                     Divide your tasks into small pieces and it will help make the job easier, increase motivation and reduce frustration.
                     </p>
                 </div>
                  <div class="header right">
                      Makes complex things simple
                  </div>
                 <img class="image right" src="{{ STATIC_URL }}img/at-a-glance-make-simplier.png" width=400px>
             </div>
             <div class="item">
                  <div class="header left">
                      Simple way from idea to action
                  </div>
                 <img class="image left" src="{{ STATIC_URL }}img/at-a-glance-migration.png" width=400px>
                 <div class="comment right">
                     <p>
                     On the way to the goal can be difficult to make the first step.
                     </p>
                     <p>
                     We want to make the path from idea to action as short as possible to reduce the cost of secondary tasks.
                     </p>
                 </div>
             </div>
             <div class="item">
                  <div class="header right">
                      Helps focus on the current task
                  </div>
                 <img class="image right" src="{{ STATIC_URL }}img/at-a-glance-focus.png" width=400px>
                 <div class="comment left">
                     <p>
                     While working it is important to focus.
                     </p>
                     <p>
                     Unnecessary information can prevent you from doing your job quickly and efficiently.
                     </p>
                     <p>
                     Throw away all unnecessary and distracting, take only what you really need.
                     </p>
                 </div>
             </div>
             <div class="item">
                  <div class="header left">
                      Global view of the big goals
                  </div>
                 <img class="image left" src="{{ STATIC_URL }}img/at-a-glance-global-view.png" width=400px>
                 <div class="comment right">
                     <p>
                     General look at your goal helps set direction and milestones of your work.
                     </p>
                     <p>
                     Look at your goal as a whole.
                     </p>
                     <p>
                     Manage life, not actions.
                     </p>
                 </div>
             </div>
             <div class="item">
                  <div class="header right">
                      Your own workspace
                  </div>
                 <img class="image right" src="{{ STATIC_URL }}img/at-a-glance-personal.png" width=400px>
                 <div class="comment left">
                     <p>
                     The box can be customized for each user.
                     </p>
                     <p>
                     Create your own personal workspace in which you will be able act freely, and you will be comfortably.
                     </p>
                 </div>
             </div>
             <div class="item">
                  <div class="header left">
                      The best tool for small tasks and great goals
                  </div>
                 <img class="image left" src="{{ STATIC_URL }}img/at-a-glance-best-tool.png" width=400px>
                 <div class="comment right">
                     <p>
                     We are creating a service by which you will be able to effectively manage the goals and tasks regardless of their size and duration.
                     </p>
                     <p>
                     </p>
                 </div>
             </div>
          </div>
          
          <!-- Controls -->
          <a class="carousel-button left" href="#carousel-what" data-slide="prev"><img src="{{ STATIC_URL }}img/prev-arrow.png" alt="">Less</a>
          <a class="carousel-button right" href="#carousel-what" data-slide="next">More<img src="{{ STATIC_URL }}img/next-arrow.png" alt=""></a>
      </div>
      <style>
        #how-works-board {
            color: rgba(25, 162, 222, 1);
            font: 30px/42px 'Shadows Into Light Two', cursive;
            margin-top: 50px;
            margin-bottom: 50px;
            height: 500px;
            background-color: rgba(255, 255, 255, 1);
        }

        #how-works-board .item {
            margin-top: 50px;
        }

        #how-works-board.item.left {
            margin-top: 0;
            margin-bottom: 50px;
        }

        #how-works-board .item.right {
            margin-top: 50px;
            margin-bottom: 0;
        }
      </style>
        <div class="center" style="display: none;">
            <h2 class="slogan">How it works?</h2>
            <div id="how-works-board" class="font-cursive">
                <div class="row">
                    <div class="item col-lg-5 item">Set the goal</div>
                    <div class="col-lg-5 col-lg-offset-2 item right">Collect all the ideas about the expected result</div>
                </div>
                <div class="row">
                    <div class="col-lg-5 item left">Share your ideas the other people and let them improve it</div>
                    <div class="col-lg-5 col-lg-offset-2 item right">Define the tasks</div>
                </div>
                <div class="row">
                    <div class="col-lg-5 item left">Do the task yourself or find an assistant</div>
                    <div class="col-lg-5 col-lg-offset-2 item right">Enjoy obtained results</div>
                </div>
                <div class="row">
                    <div class="center">Go to the next goal</div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('.carousel').carousel()
    </script>
</section>
<style>
    #how-it-works {
	height: 680px;
	min-height: 0;
    }

    .board {
	margin-top: 60px;
	height: 480px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	overflow-x: auto;
	overflow-y: hidden;
	position: relative;
	text-align: center;
    }

    .board .slide {
	position: relative;
	height: 100%;
	text-align: center;
	display: none;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	left:0;
	right:0;
    }

    .board .slide > img {
	height: 480px;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	position: relative;
    }

    .slide.active {
	display: inline-block;
    }

    .slide > .caption {
	position: absolute;
	font: 300 18px/20px 'Roboto', sans-serif;
	color: black;
    }

    .slide > .link {
	position: absolute;
	font: 400 16px/18px 'Roboto', sans-serif;
	color: rgba(69, 177, 221, 1);
    }

    .slide > h2.caption {
	font: 400 22px/24px 'Roboto', sans-serif;
    }

    #howitwork-slide-2 .caption,
    #howitwork-slide-2 .link {
	width: 180px;
    }

    #howitwork-slide-3 .caption,
    #howitwork-slide-3 .link {
	width: 120px;
    }

    .coin {
	position: absolute;
	overflow: hidden;
	width: 52px;
	height: 52px;
	border-radius: 25px;
	background: url({{ STATIC_URL }}img/coin-green.png);
    }

    .coin > .head {
	margin: 4px;
	width: 44px;
	height: 44px;
	border-radius: 22px;
    }

    .coin > .tail {
	margin: 4px;
	margin-top: -44px;
	width: 44px;
	height: 44px;
	border-radius: 22px;
	transition: all 0.25s ease;
    }
	
    .coin:hover > .head {
    }

    .coin:hover > .tail {
	margin-top: 4px;
    }

</style>
<section class="section-even" id="how-it-works">
    <div class="anchor-marker" id="how-it-works-anchor"></div>
    <label>How it Works</label>
    <div class="board">
	<div class="slide" id="howitwork-slide-1">
		<img src="{{ STATIC_URL }}img/howitworks-slide-1.png">
		<div class="caption" style="top: 25%; margin-left: auto; margin-right: auto; left:0; right: 0">
			<p style="font-size: 36px; color: red; font-weight: bold; margin-bottom: 6%;">Beware of falling boxes!</p>
			<p style="font-size: 24px; color: black; font-weight: 300;">This section is under construction now.</p>
			<p style="font-size: 24px; color: black; font-weight: 300">But you're welcome to look at the overall ideas and comment on them</p>
		</div>
		<div class="link" style="top: 73%; right: 10%;">
			I will be carefull<br>
			I promise
		</div>
	</div>
	<div class="slide" id="howitwork-slide-2">
		<img src="{{ STATIC_URL }}img/howitworks-slide-2.png">
		<div class="caption" style="top: 10px; left: 50px;">You want something to do?</div>
		<div class="caption" style="top: 30px; left: 357px;">Add the task</div>
		<div class="caption" style="top: 280px; left: 15px;">Plan it</div>
		<div class="caption" style="top: 300px; left: 340px;">and we will remind you when you need</div>
		<h2 class="caption" style="top: 100px; left: 620px;">Seems to easy?<br>But it works...</h2>
		<h2 class="caption" style="top: 240px; left: 620px;">Want to look at a more complex case?</h2>
		<div class="link" style="top: 380px; left: 620px;">Yes, I bravely look in the face of any challenges</div>
	</div>
	<div class="slide active" id="howitwork-slide-3" style="margin-left: 40%">
			<img src="{{ STATIC_URL }}img/howitworks-slide-3.png">
		<!-- node caption -->
		<div class="caption" style="top: 260px; left: 80px;">Have an idea?</div>
		<div class="caption" style="top: 150px; left: 445px;">Put it in a box</div>
		<div class="caption" style="top: 330px; left: 500px;width: 200px;">Divide into small parts<br>Think about the details</div>
		<div class="caption" style="top: 235px; left: 730px;width: 160px;">Look for inspiration</div>
		<div class="caption" style="top: 350px; left: 920px;width: 180px;">Work on your idea</div>
		<div class="caption" style="top: 108px; left: 1150px;width: 250px;">Share your ideas with others<br>Discuss them</div>
		<div class="caption" style="top: 410px; left: 1280px;">Set the goal</div>
		<div class="caption" style="top: 70px; left: 1440px;width: 280px;">Determine milestones and tasks</div>
		<div class="caption" style="top: 100px; left: 1835px;">Plan your work</div>
		<div class="caption" style="top: 400px; left: 1785px;">Share tasks</div>
		<div class="caption" style="top: 360px; left: 1970px;width: 180px;">Search for coworkers</div>
		<div class="caption" style="top: 345px; left: 2325px;">Work on tasks</div>
		<div class="caption" style="top: 105px; left: 2130px;width: 160px;">Track your progress</div>
		<div class="caption" style="top: 275px; left: 2740px;width: 200px;">Enjoy the result!</div>
		<!-- coins -->
		<div class="coin" style="top:20px; left:500px;">
		    <div class="tail"><img src="{{ STATIC_URL }}img/coins/coin-01-tail.png"></div>
		    <div class="head"><img src="{{ STATIC_URL }}img/coins/coin-01-head.png"></div>
		</div>
	</div>
    </div>
</section>
