<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
<style>    
    .font-cursive {
        font-family: 'Shadows Into Light Two', cursive;
    }

    .next-control {
        position: absolute;
        bottom: 30px;
        right: 20px;
    }
    .prev-control {
        position: absolute;
        bottom: 30px;
        left: 20px;
    }

    .carousel-indicators li {
        border-radius: 0px;
        border: 2px solid rgba(140, 190, 41, 0.5); 
    }

    .carousel-indicators .active {
        background-color: rgba(140, 190, 41, 0.3);
    }

    .carousel-button {
        font: 18px/18px 'Shadows Into Light Two', cursive;
        position: absolute;
        bottom: 25px;
        z-index: 30;
    }

    .carousel-button.left {
        left: 30%;
    }
        
    .carousel-button.right {
        right: 30%;
    }

    .carousel-inner > .item {
        height: 500px;
        overflow: hidden;
    }

    .carousel-inner > .item > .header {
        color: rgba(25, 162, 222, 1);
        position: absolute;
        font: 36px/42px 'Shadows Into Light Two', cursive;
        width: 50%;
        top: 30px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        z-index: 2;
    }

    .carousel-inner > .item > .comment {
        color: rgba(100, 100, 100, 1);
        position: absolute;
        font: 300 18px/30px 'Roboto', sans-serif;
        width: 40%;
        vertical-align: middle;
        top: 120px;
        bottom: 120px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        z-index: 2;
    }

    .comment > p {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .carousel-inner > .item > .image {
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        bottom: 120px;
        max-width: 200%;
        z-index: 1;
    }

    .carousel-inner > .item > .header.left, 
    .carousel-inner > .item > .comment.left, 
    .carousel-inner > .item > .image.left {
        left: 10%;
        margin-left: 0;
        text-align: left;
    }

    .carousel-inner > .item > .header.right, 
    .carousel-inner > .item > .comment.right, 
    .carousel-inner > .item > .image.right {
        right: 10%;
        margin-right: 0;
        text-align: right;
    }


</style>
<section class="section-odd" id="at-glance">
    <label>Thinking in Box at a glance</label>
    <div class="container">
        <h2 class="slogan">What is the box?</h2>
        <div id="carousel-what" class="carousel slide" data-interval="5000">
          <!-- Indicators -->
          <ol class="carousel-indicators">
              <li data-target="#carousel-what" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-what" data-slide-to="1"></li>
              <li data-target="#carousel-what" data-slide-to="2"></li>
              <li data-target="#carousel-what" data-slide-to="3"></li>
              <li data-target="#carousel-what" data-slide-to="4"></li>
              <li data-target="#carousel-what" data-slide-to="5"></li>
              <li data-target="#carousel-what" data-slide-to="6"></li>
              <li data-target="#carousel-what" data-slide-to="7"></li>
          </ol>
          
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
             <div class="item active">
                 <div class="header">
                     Box is idea, note, tasks, tool...
                 </div>
                 <div class="comment">
                     It can be all that you need to control your life.
                 </div>
                 <img class="image" src="{{ STATIC_URL }}img/at-a-glance-what-is.png" width=450px>
             </div>
             <div class="item">
                 <div class="header left">Keep all your thoughts in one place</div>
                 <div class="comment right">
                     <p>
                     Box is a tool for storing ideas, notes, tasks, tools, and other boxes in one place.
                     </p>
                     <p>
                     It helps you not to miss anything.
                     </p>
                     <p>
                     Create a <a href="#mobile">mobile box</a> and all your thoughts will be always with you anywhere.
                     </p>
                 </div>
                 <img class="image left" src="{{ STATIC_URL }}img/at-a-glance-all-together.png" width=350px>
             </div>
             <div class="item">
                 <div class="comment left">
                     <p>
                     It's difficult to achieve big goals at once.
                     </p>
                     <p>
                     Large problems can be confusing and frustrating.
                     </p>
                     <p>
                     Divide your tasks into small pieces and it will help make the job easier, increase motivation and reduce frustration.
                     </p>
                 </div>
                  <div class="header right">
                      Makes complex things simple
                  </div>
                 <img class="image right" src="{{ STATIC_URL }}img/at-a-glance-make-simplier.png" width=400px>
             </div>
             <div class="item">
                  <div class="header left">
                      Simple way from idea to action
                  </div>
                 <img class="image left" src="{{ STATIC_URL }}img/at-a-glance-migration.png" width=400px>
                 <div class="comment right">
                     <p>
                     On the way to the goal can be difficult to make the first step.
                     </p>
                     <p>
                     We want to make the path from idea to action as short as possible to reduce the cost of secondary tasks.
                     </p>
                 </div>
             </div>
             <div class="item">
                  <div class="header right">
                      Helps focus on the current task
                  </div>
                 <img class="image right" src="{{ STATIC_URL }}img/at-a-glance-focus.png" width=400px>
                 <div class="comment left">
                     <p>
                     While working it is important to focus.
                     </p>
                     <p>
                     Unnecessary information can prevent you from doing your job quickly and efficiently.
                     </p>
                     <p>
                     Throw away all unnecessary and distracting, take only what you really need.
                     </p>
                 </div>
             </div>
             <div class="item">
                  <div class="header left">
                      Global view of the big goals
                  </div>
                 <img class="image left" src="{{ STATIC_URL }}img/at-a-glance-global-view.png" width=400px>
                 <div class="comment right">
                     <p>
                     General look at your goal helps set direction and milestones of your work.
                     </p>
                     <p>
                     Look at your goal as a whole.
                     </p>
                     <p>
                     Manage life, not actions.
                     </p>
                 </div>
             </div>
             <div class="item">
                  <div class="header right">
                      Your own workspace
                  </div>
                 <img class="image right" src="{{ STATIC_URL }}img/at-a-glance-personal.png" width=400px>
                 <div class="comment left">
                     <p>
                     The box can be customized for each user.
                     </p>
                     <p>
                     Create your own personal workspace in which you will be able act freely, and you will be comfortably.
                     </p>
                 </div>
             </div>
             <div class="item">
                  <div class="header left">
                      The best tool for small tasks and great goals
                  </div>
                 <img class="image left" src="{{ STATIC_URL }}img/at-a-glance-best-tool.png" width=400px>
                 <div class="comment right">
                     <p>
                     We are creating a service by which you will be able to effectively manage the goals and tasks regardless of their size and duration.
                     </p>
                     <p>
                     </p>
                 </div>
             </div>
          </div>
          
          <!-- Controls -->
          <a class="carousel-button left" href="#carousel-what" data-slide="prev"><img src="{{ STATIC_URL }}img/prev-arrow.png" alt="">Less</a>
          <a class="carousel-button right" href="#carousel-what" data-slide="next">More<img src="{{ STATIC_URL }}img/next-arrow.png" alt=""></a>
      </div>
      <style>
        #how-works-board {
            color: rgba(25, 162, 222, 1);
            font: 30px/42px 'Shadows Into Light Two', cursive;
            margin-top: 50px;
            margin-bottom: 50px;
            height: 500px;
            background-color: rgba(255, 255, 255, 1);
        }

        #how-works-board .item {
            margin-top: 50px;
        }

        #how-works-board.item.left {
            margin-top: 0;
            margin-bottom: 50px;
        }

        #how-works-board .item.right {
            margin-top: 50px;
            margin-bottom: 0;
        }
      </style>
        <div class="center" style="display: none;">
            <h2 class="slogan">How it works?</h2>
            <div id="how-works-board" class="font-cursive">
                <div class="row">
                    <div class="item col-lg-5 item">Set the goal</div>
                    <div class="col-lg-5 col-lg-offset-2 item right">Collect all the ideas about the expected result</div>
                </div>
                <div class="row">
                    <div class="col-lg-5 item left">Share your ideas the other people and let them improve it</div>
                    <div class="col-lg-5 col-lg-offset-2 item right">Define the tasks</div>
                </div>
                <div class="row">
                    <div class="col-lg-5 item left">Do the task yourself or find an assistant</div>
                    <div class="col-lg-5 col-lg-offset-2 item right">Enjoy obtained results</div>
                </div>
                <div class="row">
                    <div class="center">Go to the next goal</div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('.carousel').carousel()
    </script>
</section>
<style>
    #how-it-works {
	height: 680px;
	min-height: 0;
    }

    .board {
	margin-top: 60px;
	height: 480px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	overflow-x: auto;
	overflow-y: hidden;
	position: relative;
    }

    .board .slide {
	position: relative;
	height: 100%;
	text-align: center;
	display: inline-block;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	left:0;
	right:0;
    }

    .board .slide > img {
	height: 480px;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	position: relative;
    }

    .slide.active {
	display: inline-block;
    }

    .slide > .caption {
	position: absolute;
	font: 300 18px/20px 'Roboto', sans-serif;
	color: black;
    }

    .slide > .link {
	cursor: pointer;
	position: absolute;
	font: 400 16px/18px 'Roboto', sans-serif;
	color: rgba(69, 177, 221, 1);
    }

    .slide > h2.caption {
	font: 400 22px/24px 'Roboto', sans-serif;
    }

    #howitwork-slide-2 .caption,
    #howitwork-slide-2 .link {
	width: 180px;
    }

    #howitwork-slide-3 .caption,
    #howitwork-slide-3 .link {
	width: 120px;
    }

    .coin {
	position: absolute;
	overflow: hidden;
	width: 52px;
	height: 52px;
	border-radius: 25px;
    }

    .coin.green {
	background: url({{ STATIC_URL }}img/coin-green.png);
    }

    .coin.red {
	background: url({{ STATIC_URL }}img/coin-red.png);
    }

    .coin > .head {
	margin: 4px;
	width: 44px;
	height: 44px;
	border-radius: 22px;
    }

    .coin > .tail {
	margin: 4px;
	margin-top: -44px;
	width: 44px;
	height: 44px;
	border-radius: 22px;
	transition: all 0.25s ease;
    }
	
    .coin:hover > .head {
    }

    .coin:hover > .tail {
	margin-top: 4px;
    }

</style>
<section id="how-it-works" style="background-color: rgba(250, 250, 250, 0.8);">
    <label>How it Works</label>
    <div class="board">
	<div id="howitworks-row">
	<div class="slide" id="howitwork-slide-1">
		<img src="{{ STATIC_URL }}img/howitworks-slide-1.png" id="img-1">
		<div class="caption" style="top: 25%; margin-left: auto; margin-right: auto; left:0; right: 0">
			<p style="font-size: 36px; color: red; font-weight: bold; margin-bottom: 6%;">Beware of falling boxes!</p>
			<p style="font-size: 24px; color: black; font-weight: 300;">This section is under construction now.</p>
			<p style="font-size: 24px; color: black; font-weight: 300">But you're welcome to look at the overall ideas and comment on them</p>
		</div>
		<a id="link-slide-2" class="link" style="top: 73%; right: 10%;">
			I will be carefull<br>
			I promise
		</a>
	</div>
	<div class="slide" id="howitwork-slide-2">
		<img src="{{ STATIC_URL }}img/howitworks-slide-2.png" id="img-2">
		<div class="caption" style="top: 10px; left: 50px;">You want something to do?</div>
		<div class="caption" style="top: 30px; left: 357px;">Add the task</div>
		<div class="caption" style="top: 280px; left: 15px;">Plan it</div>
		<div class="caption" style="top: 300px; left: 340px;">and we will remind you when you need</div>
		<h2 class="caption" style="top: 100px; left: 620px;">Seems to easy?<br>But it works...</h2>
		<h2 class="caption" style="top: 240px; left: 620px;">Want to look at a more complex case?</h2>
		<a id="link-slide-3" class="link" style="top: 380px; left: 620px;">Yes, I bravely look in the face of any challenges</a>
	</div>
	<div class="slide active" id="howitwork-slide-3" id="img-3">
			<img src="{{ STATIC_URL }}img/howitworks-slide-3.png">
		<!-- node caption -->
		<div class="caption" style="top: 260px; left: 80px;">Have an idea?</div>
		<div class="caption" style="top: 150px; left: 445px;">Put it in a box</div>
		<div class="caption" style="top: 330px; left: 500px;width: 200px;">Divide into small parts<br>Think about the details</div>
		<div class="caption" style="top: 235px; left: 730px;width: 160px;">Look for inspiration</div>
		<div class="caption" style="top: 350px; left: 920px;width: 180px;">Work on your idea</div>
		<div class="caption" style="top: 108px; left: 1150px;width: 250px;">Share your ideas with others<br>Discuss them</div>
		<div class="caption" style="top: 410px; left: 1280px;">Set the goal</div>
		<div class="caption" style="top: 70px; left: 1440px;width: 280px;">Determine milestones and tasks</div>
		<div class="caption" style="top: 120px; left: 1935px;">Plan your work</div>
		<div class="caption" style="top: 400px; left: 1785px;">Share tasks</div>
		<div class="caption" id="st-1" style="top: 360px; left: 1970px;width: 180px;">Search for coworkers</div>
		<div class="caption" style="top: 345px; left: 2325px;">Work on tasks</div>
		<div class="caption" style="top: 105px; left: 2130px;width: 160px;">Track your progress</div>
		<div class="caption" style="top: 275px; left: 2740px;width: 200px;">Enjoy the result!</div>
		<h2 class="caption" style="top: 320px; left: 2660px; width: 350px;">Will you invite us to the party?</h2>
		<!-- coins -->
		<div class="coin green" style="top:20px; left:500px;"
			data-toogle="popover" data-placement="left" 
			data-content="Box - the best way to store your ideas. And it's the only thing you need"
			data-original-title="Box"
		>
		    <div class="tail"><img src="{{ STATIC_URL }}img/coins/coin-01-tail.png"></div>
		    <div class="head"><img src="{{ STATIC_URL }}img/coins/coin-01-head.png"></div>
		</div>
		<div class="coin green" style="top:400px; left:500px;"
			data-toogle="popover" data-placement="top" 
			data-content="The box may contain ideas and other boxes, so this is the easiest way to simplify your idea"
			data-original-title="Box"
		>
		    <div class="tail"><img src="{{ STATIC_URL }}img/coins/coin-01-tail.png"></div>
		    <div class="head"><img src="{{ STATIC_URL }}img/coins/coin-01-head.png"></div>
		</div>
		<div class="coin green" style="top:410px; left:560px;"
			data-toogle="popover" data-placement="top" 
			data-content="Mind map - an excellent tool to determine the details of your idea"
			data-original-title="Mind Mapping"
		>
		    <div class="tail"><img src="{{ STATIC_URL }}img/coins/coin-02-tail.png"></div>
		    <div class="head"><img src="{{ STATIC_URL }}img/coins/coin-02-head.png"></div>
		</div>
		<div class="coin green" style="top:22px; left:790px;"
			data-toogle="popover" data-placement="bottom" 
			data-content=""
			data-original-title="Notes"
		>
		    <div class="tail"><img src="{{ STATIC_URL }}img/coins/coin-03-tail.png"></div>
		    <div class="head"><img src="{{ STATIC_URL }}img/coins/coin-03-head.png"></div>
		</div>
		<div class="coin green" style="top:30px; left:850px;"
			data-toogle="popover" data-placement="bottom" 
			data-content=""
			data-original-title="Bookmarks"
		>
		    <div class="tail"><img src="{{ STATIC_URL }}img/coins/coin-04-tail.png"></div>
		    <div class="head"><img src="{{ STATIC_URL }}img/coins/coin-04-head.png"></div>
		</div>
		<div class="coin green" style="top:390px; left:900px;"
			data-toogle="popover" data-placement="top" 
			data-content=""
			data-original-title="Mind Mapping"
		>
		    <div class="tail"><img src="{{ STATIC_URL }}img/coins/coin-02-tail.png"></div>
		    <div class="head"><img src="{{ STATIC_URL }}img/coins/coin-02-head.png"></div>
		</div>

		<div class="coin green" style="top:400px; left:970px;"
			data-toogle="popover" data-placement="top" 
			data-content=""
			data-original-title="Brainstorming"
		>
		    <div class="tail"><img src="{{ STATIC_URL }}img/coins/coin-05-tail.png"></div>
		    <div class="head"><img src="{{ STATIC_URL }}img/coins/coin-05-head.png"></div>
		</div>

		<div class="coin green" style="top:45px; left:1180px;"
			data-toogle="popover" data-placement="bottom" 
			data-content=""
			data-original-title="Public boxes"
		>
		    <div class="tail"><img src="{{ STATIC_URL }}img/coins/coin-01-tail.png"></div>
		    <div class="head"><img src="{{ STATIC_URL }}img/coins/coin-01-head.png"></div>
		</div>

		<div class="coin green" style="top:42px; left:1240px;"
			data-toogle="popover" data-placement="bottom" 
			data-content=""
			data-original-title="Team brainstorming"
		>
		    <div class="tail"><img src="{{ STATIC_URL }}img/coins/coin-05-tail.png"></div>
		    <div class="head"><img src="{{ STATIC_URL }}img/coins/coin-05-head.png"></div>
		</div>

		<div class="coin green" style="top:40px; left:1300px;"
			data-toogle="popover" data-placement="bottom" 
			data-content=""
			data-original-title="User voice"
		>
		    <div class="tail"><img src="{{ STATIC_URL }}img/coins/coin-06-tail.png"></div>
		    <div class="head"><img src="{{ STATIC_URL }}img/coins/coin-06-head.png"></div>
		</div>

		<div class="coin green" style="top:48px; left:1360px;"
			data-toogle="popover" data-placement="bottom" 
			data-content=""
			data-original-title="Votes"
		>
		    <div class="tail"><i class="icon-thumbs-up" style="color: #f00; font-size: 36px;"></i></div>
		    <div class="head"><i class="icon-thumbs-up" style="color: #89cf58; font-size: 36px;";></i></div>
		</div>
		<div class="coin green" style="top:390px; left:1460px;"
			data-toogle="popover" data-placement="top" 
			data-content=""
			data-original-title="Box"
		>
		    <div class="tail"><img src="{{ STATIC_URL }}img/coins/coin-01-tail.png"></div>
		    <div class="head"><img src="{{ STATIC_URL }}img/coins/coin-01-head.png"></div>
		</div>
		<div class="coin red" style="top:393px; left:1520px;"
			data-toogle="popover" data-placement="top" 
			data-content=""
			data-original-title="Goal Tracker"
		>
		    <div class="tail"><img src="{{ STATIC_URL }}img/coins/coin-09-tail.png"></div>
		    <div class="head"><img src="{{ STATIC_URL }}img/coins/coin-09-head.png"></div>
		</div>
		<div class="coin red" style="top:200px; left:1688px;"
			data-toogle="popover" data-placement="left" 
			data-content=""
			data-original-title="Box"
		>
		    <div class="tail"><img src="{{ STATIC_URL }}img/coins/coin-08-tail.png"></div>
		    <div class="head"><img src="{{ STATIC_URL }}img/coins/coin-08-head.png"></div>
		</div>
		<div class="coin red" style="top:140px; left:1700px;"
			data-toogle="popover" data-placement="left" 
			data-content=""
			data-original-title="Goal Tracket"
		>
		    <div class="tail"><img src="{{ STATIC_URL }}img/coins/coin-09-tail.png"></div>
		    <div class="head"><img src="{{ STATIC_URL }}img/coins/coin-09-head.png"></div>
		</div>
		<div class="coin red" style="top:80px; left:1715px;"
			data-toogle="popover" data-placement="left" 
			data-content=""
			data-original-title="Tasks workflow"
		>
		    <div class="tail"><img src="{{ STATIC_URL }}img/coins/coin-10-tail.png"></div>
		    <div class="head"><img src="{{ STATIC_URL }}img/coins/coin-10-head.png"></div>
		</div>
		<div class="coin red" style="top:45px; left:1760px;"
			data-toogle="popover" data-placement="bottom" 
			data-content=""
			data-original-title="Tasks board"
		>
		    <div class="tail"><img src="{{ STATIC_URL }}img/coins/coin-11-tail.png"></div>
		    <div class="head"><img src="{{ STATIC_URL }}img/coins/coin-11-head.png"></div>
		</div>
		<div class="coin red" style="top:30px; left:1820px;"
			data-toogle="popover" data-placement="bottom" 
			data-content=""
			data-original-title="Notes board"
		>
		    <div class="tail"><img src="{{ STATIC_URL }}img/coins/coin-12-tail.png"></div>
		    <div class="head"><img src="{{ STATIC_URL }}img/coins/coin-12-head.png"></div>
		</div>
		<div class="coin red" style="top:148px; left:2020px;"
			data-toogle="popover" data-placement="top" 
			data-content=""
			data-original-title="To-do list"
		>
		    <div class="tail"><img src="{{ STATIC_URL }}img/coins/coin-13-tail.png"></div>
		    <div class="head"><img src="{{ STATIC_URL }}img/coins/coin-13-head.png"></div>
		</div>
		<div class="coin red" style="top:185px; left:1975px;"
			data-toogle="popover" data-placement="top" 
			data-content=""
			data-original-title="Calendar"
		>
		    <div class="tail"><img src="{{ STATIC_URL }}img/coins/coin-14-tail.png"></div>
		    <div class="head"><img src="{{ STATIC_URL }}img/coins/coin-14-head.png"></div>
		</div>
		<div class="coin red" style="top:228px; left:1930px;"
			data-toogle="popover" data-placement="top" 
			data-content=""
			data-original-title="Agile dashboard"
		>
		    <div class="tail" style="padding: 8px"><i class="icon-puzzle-piece" style="color: #555; font-size: 28px";></i></div>
		    <div class="head" style="padding: 8px"><i class="icon-puzzle-piece" style="color: #f00; font-size: 28px"></i></div>
		</div>
		<div class="coin red" style="top:340px; left:1883px;"
			data-toogle="popover" data-placement="top" 
			data-content=""
			data-original-title="Public box"
		>
		    <div class="tail"><img src="{{ STATIC_URL }}img/coins/coin-08-tail.png"></div>
		    <div class="head"><img src="{{ STATIC_URL }}img/coins/coin-08-head.png"></div>
		</div>
		<div class="coin red" style="top:390px; left:1910px;"
			data-toogle="popover" data-placement="top" 
			data-content=""
			data-original-title="Tasks board"
		>
		    <div class="tail"><img src="{{ STATIC_URL }}img/coins/coin-11-tail.png"></div>
		    <div class="head"><img src="{{ STATIC_URL }}img/coins/coin-11-head.png"></div>
		</div>
		<div class="coin red" style="top:390px; left:2050px;"
			data-toogle="popover" data-placement="top" 
			data-content=""
			data-original-title="Teams"
		>
		    <div class="tail" style="padding: 8px"><i class="icon-group" style="color: #555; font-size: 28px";></i></div>
		    <div class="head" style="padding: 8px"><i class="icon-group" style="color: #f00; font-size: 28px"></i></div>
		</div>
		<div class="coin red" style="top:392px; left:2110px;"
			data-toogle="popover" data-placement="top" 
			data-content=""
			data-original-title="User profile box"
		>
		    <div class="tail"><i class="icon-user" style="color: #555; font-size: 36px;";></i></div>
		    <div class="head"><i class="icon-user" style="color: #f00; font-size: 36px;"></i></div>
		</div>
		<div class="coin red" style="top:350px; left:2255px;"
			data-toogle="popover" data-placement="top" 
			data-content=""
			data-original-title="Box"
		>
		    <div class="tail"><img src="{{ STATIC_URL }}img/coins/coin-08-tail.png"></div>
		    <div class="head"><img src="{{ STATIC_URL }}img/coins/coin-08-head.png"></div>
		</div>
		<div class="coin red" style="top:290px; left:2240px;"
			data-toogle="popover" data-placement="top" 
			data-content=""
			data-original-title="Personal workspace"
		>
		    <div class="tail" style="padding: 8px"><i class="icon-coffee" style="color: #555; font-size: 28px";></i></div>
		    <div class="head" style="padding: 8px"><i class="icon-coffee" style="color: #f00; font-size: 28px"></i></div>
		</div>
		<div class="coin red" style="top:60px; left:2160px;"
			data-toogle="popover" data-placement="bottom" 
			data-content=""
			data-original-title="Goal tracker"
		>
		    <div class="tail"><img src="{{ STATIC_URL }}img/coins/coin-09-tail.png"></div>
		    <div class="head"><img src="{{ STATIC_URL }}img/coins/coin-09-head.png"></div>
		</div>
		<div class="coin red" style="top:57px; left:2220px;"
			data-toogle="popover" data-placement="bottom" 
			data-content=""
			data-original-title="Task workflow"
		>
		    <div class="tail"><img src="{{ STATIC_URL }}img/coins/coin-10-tail.png"></div>
		    <div class="head"><img src="{{ STATIC_URL }}img/coins/coin-10-head.png"></div>
		</div>
		<div class="coin red" style="top:56px; left:2280px;"
			data-toogle="popover" data-placement="bottom" 
			data-content=""
			data-original-title="Chronometer"
		>
		    <div class="tail" style="padding: 8px"><i class="icon-time" style="color: #555; font-size: 28px";></i></div>
		    <div class="head" style="padding: 8px"><i class="icon-time" style="color: #f00; font-size: 28px"></i></div>
		</div>
		<div class="coin red" style="top:56px; left:2340px;"
			data-toogle="popover" data-placement="bottom" 
			data-content=""
			data-original-title="Pomodoro"
		>
		    <div class="tail" style="padding: 8px"><i class="icon-beer" style="color: #555; font-size: 28px";></i></div>
		    <div class="head" style="padding: 8px"><i class="icon-beer" style="color: #f90; font-size: 28px"></i></div>
		</div>
		<div class="coin" style="top:55px; left:2812px;"
			data-toogle="popover" data-placement="bottom" 
			data-content="You're winner!!! Great job"
			data-original-title=""
		>
		    <div class="tail" style="padding: 2px"><i class="icon-trophy" style="color: #555; font-size: 40px";></i></div>
		    <div class="head" style="padding: 2px"><i class="icon-trophy" style="color: #f90; font-size: 40px"></i></div>
		</div>
	</div>
	</div>
    </div>
</section>
<script>
	$(".coin").popover({trigger: 'hover'});
	(function($) {
		$(window).load(function() {
			w = $(window).width()*0.4;
			$("#howitworks-row").css("width", 4*w + 4000 + "px"); 
			$("#howitwork-slide-1").css("margin-left", (w-320) + "px"); 
			$("#howitwork-slide-2").css("margin-left", (w-320) + "px"); 
			$("#howitwork-slide-3").css("margin-left", w + "px"); 
			$(".board").mCustomScrollbar({
				horizontalScroll:true
			}); 
			$("#link-slide-2").on('click', function() {				
				$(".board").mCustomScrollbar("scrollTo", w + 400);
			});
			$("#link-slide-3").on('click', function() {				
				$(".board").mCustomScrollbar("scrollTo", 2*w+800);
			});
		});
	})(jQuery);
</script>
