<section id="contact">
    <label>Contact Us</label>
    <div class="container">
        <div class="row">
            <div class="col-lg-5" id="send-message">
                <h3 class="subheader">Leave a message</h3>
                <p class="text-danger">Sorry, messages are under construction yet. Use social networks to contact us.</p>
                <form id="contact-form" action="post">
                    <input type="text" class="form-control" id="username" name="username" placeholder="Your name">
                    <input type="text" class="form-control" id="email" name="email" placeholder="Your email">
                    <textarea class="form-control" rows="5" placeholder="Your message"></textarea>
                    {% comment %}
                    <button type="button" class="btn btn-default pull-right btn-lg">Send</button>
                    {% endcomment %}
                </form>
            </div>
            <div class="col-lg-2" id="social-links">
                <h3 class="subheader">Say Hello</h3> 
                <a href="https://www.facebook.com/pages/Thinking-In-Box/356419494489877">
                   <i class="icon-facebook-sign"></i>
                </a>
                <a href="https://plus.google.com/101018259054761270486" rel="publisher">
                   <i class="icon-google-plus-sign"></i>
                </a> 
                <a href="https://twitter.com/ThinkingInBox">
                    <i class="icon-twitter-sign"></i>
                </a>
            </div>
            <div class="col-lg-5" id="read-us">
            </div>
        </div>
    </div>
</section>
