<link href='{{ STATIC_URL }}css/bitstarter/dashboard.css' rel='stylesheet' type='text/css'>
<section id="dashboard">
    <div>
        <div class="dashboard">
            <div class="box-s logo dash-col-1 dash-row-2">
                MIND IN BOX
            </div> 
            <div class="box-s dash-col-1 dash-row-1 box-purple">
                <div class="header">
                    Our Mission
                </div>
                <div class="cover">
                    <p>Who we are and what your goals</p> 
                    <a href="#mission" class="link">
                        <i class="icon-double-angle-down icon-large"></i>
                    </a>
                </div>
            </div>
            <div class="box-s dash-col-2 dash-row-1 box-light-green">
                <div class="header">At a glance</div>
                <div class="cover">
                    <p>What is the box<br>
                    How it works</p>
                    <a href="#at-glance" class="link">
                        <i class="icon-double-angle-down icon-large"></i>
                    </a>
                </div>
                <div class="back">
                    <p class="attention">Beware of falling boxes!</p>
                    <p> Sorry, this site part isn't ready yet</p>
                    <p> We work hard to finish it as soon as possible</p>
                </div>
            </div>
            <div class="box-s dash-col-3 dash-row-1 box-red">
                <div class="header">Features</div>
                <div class="cover">
                    <p>Features and tool what our service will prodive</p>
                    <a href="#features" class="link">
                        <i class="icon-double-angle-down icon-large"></i>
                    </a>
                </div>
                <div class="back">
                    <p class="attention">Beware of falling boxes!</p>
                    <p> Sorry, this site part isn't ready yet</p>
                    <p> We work hard to finish it as soon as possible</p>
                </div>
            </div>
            <div class="box-s dash-col-4 dash-row-1 box-brown">
                <div class="header">Test Box 1, 4</div>
                <div class="cover">Cover of Text Box</div>
                <div class="back">
                    <p class="attention">Beware of falling boxes!</p>
                    <p> Sorry, this site part isn't ready yet</p>
                    <p> We work hard to finish it as soon as possible</p>
                </div>
            </div>
            <div class="box-s dash-col-3 dash-row-2 box-light-blue">
                <div class="header">Test Box 2, 3</div>
                <div class="cover">Cover of Text Box</div>
                <div class="back">
                    <p class="attention">Beware of falling boxes!</p>
                    <p> Sorry, this site part isn't ready yet</p>
                    <p> We work hard to finish it as soon as possible</p>
                </div>
            </div>
            <div class="box-s dash-col-1 dash-row-3 box-green">
                <div class="header">Test Box 3, 1</div>
                <div class="cover">Cover of Text Box</div>
                <div class="back">
                    <p class="attention">Beware of falling boxes!</p>
                    <p> Sorry, this site part isn't ready yet</p>
                    <p> We work hard to finish it as soon as possible</p>
                </div>
            </div>
            <div class="box-s dash-col-2 dash-row-3 box-orange">
                <div class="header">Test Box 3, 2</div>
                <div class="cover">Cover of Text Box</div>
                <div class="back">
                    <p class="attention">Beware of falling boxes!</p>
                    <p> Sorry, this site part isn't ready yet</p>
                    <p> We work hard to finish it as soon as possible</p>
                </div>
            </div>
            <div class="box-s dash-col-3 dash-row-3 box-dark-gray">
                <div class="header">Test Box 3, 3</div>
                <div class="cover">Cover of Text Box</div>
                <div class="back">
                    <p class="attention">Beware of falling boxes!</p>
                    <p> Sorry, this site part isn't ready yet</p>
                    <p> We work hard to finish it as soon as possible</p>
                </div>
            </div>

            {% comment %}                        
            <div class="box-s dash-col-5 dash-row-1">Test Box 1, 5</div>
            <div class="box-s dash-col-6 dash-row-1">Test Box 1, 6</div>
            <div class="box-s dash-col-7 dash-row-1">Test Box 1, 7</div>
            <div class="box-s dash-col-4 dash-row-2">Test Box 2, 4</div>
            <div class="box-s dash-col-5 dash-row-2">Test Box 2, 5</div>
            <div class="box-s dash-col-6 dash-row-2">Test Box 2, 6</div>
            <div class="box-s dash-col-7 dash-row-2">Test Box 2, 7</div>
            <div class="box-s dash-col-4 dash-row-3">Test Box 3, 4</div>
            <div class="box-s dash-col-5 dash-row-3">Test Box 3, 5</div>
            <div class="box-s dash-col-6 dash-row-3">Test Box 3, 6</div>
            <div class="box-s dash-col-7 dash-row-3">Test Box 3, 7</div> 
            <div class="box-s dash-col-1 dash-row-2">Test Box 2, 1</div>
            <div class="box-s dash-col-2 dash-row-2">Test Box 2, 2</div>
            {% endcomment %}
        </div>
    </div>
</section>
