<section id="dashboard">
    <div>
        <div class="dashboard">
            <div class="box box-s logo dash-col-1 dash-row-2">THINKING IN BOX</div> 
            <div class="box box-s dash-col-1 dash-row-1 box-purple">
                <div class="header">
                    Our Mission
                </div>
                <div class="cover">
                    <p>Who we are and what your goals</p> 
                    <a href="#mission" class="link">
                        <i class="icon-double-angle-down icon-large"></i>
                    </a>
                </div>
            </div>
            <div class="box box-s dash-col-2 dash-row-1 box-light-green">
                <div class="header">At a glance</div>
                <div class="cover">
                    <p>What is the box<br>How it works</p>
                    <a href="#at-glance" class="link">
                        <i class="icon-double-angle-down icon-large"></i>
                    </a>
                </div>
            </div>
            <div class="box box-s dash-col-3 dash-row-1 box-red">
                <div class="header">Features</div>
                <div class="cover">
                    <p>Features and tool what our service will prodive</p>
                    <a href="#features" class="link">
                        <i class="icon-double-angle-down icon-large"></i>
                    </a>
                </div>
                <div class="back">
                    <p class="attention">Beware of falling boxes!</p>
                    <p> Sorry, this site part isn't ready yet</p>
                    <p> We work hard to finish it as soon as possible</p>
                </div>
            </div>
            <div class="box box-x3 dash-col-4 dash-row-1 box-white" id="crowdfunding-box">
                <div class="header">
                    <p>Crowdfunding</p>
                    <p class="header-comment">Everyone can help</p>
		            <div data-toggle="modal" href="#orderModal" class="button">donation list</div>
                </div>
                <div class="cover">
                    <div class="row center" id='funding-stat'>
                        <div style="height: 120px; text-align: center; padding-top: 50px">
                            <i class="icon-spinner icon-spin icon-large"></i> updating...
                        </div>
                    </div>
                    <div class="row center">
                        <div class="donate-button">
                              <a class="coinbase-button" data-code="f35dfbc887825113329bbefed578450f" data-button-style="custom_small" href="https://coinbase.com/checkouts/f35dfbc887825113329bbefed578450f">Donate Bitcoins</a><script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>
                        </div>
                    </div>
                    <div class="row center"><h5>or<br>share us</h5></div>
                    <div class="row center">
                        <div class="col-lg-10 col-lg-offset-1">
                            <!-- AddThis Button BEGIN -->
                            <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                                <a class="addthis_button_facebook"></a>
                                <a class="addthis_button_twitter"></a>
                                <a class="addthis_button_google_plusone_share"></a>
                                <a class="addthis_button_linkedin"></a>
                                <a class="addthis_button_pinterest_share"></a>
                                <a class="addthis_button_compact"></a><a class="addthis_counter addthis_bubble_style"></a>
                            </div>
                            <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5204e4990d86bd7b"></script>
                            <!-- AddThis Button END -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="box box-s dash-col-3 dash-row-2 box-light-blue">
                <div class="header">Source code</div>
                <div class="cover">
                    <p>Open service with open source code</p>
                    <a href="#source-code" class="link">
                        <i class="icon-double-angle-down icon-large"></i>
                    </a>
                </div>
            </div>
            <div class="box box-s dash-col-1 dash-row-3 box-green">
                <div class="header">Mobile</div>
                <div class="cover">
                    <p>Your thoughts are with you always and everywhere</p>
                    <a href="#mobile" class="link">
                        <i class="icon-double-angle-down icon-large"></i>
                    </a>
                </div>
            </div>
            <div class="box box-s dash-col-2 dash-row-3 box-orange">
                <div class="header">Sandbox</div>
                <div class="cover">
                    <p>Easy to try</p>
                    <a href="#sandbox" class="link">
                        <i class="icon-double-angle-down icon-large"></i>
                    </a>
                </div>
            </div>
            <div class="crowdfunding-footer-arrow dash-col-4 dash-row-3">
                <img src="{{ STATIC_URL }}img/cf-footer.png">
            </div>
            <div class="box box-s dash-col-3 dash-row-3 box-dark-gray">
                <div class="header">Roadmap</div>
                <div class="cover">
                    <p>Long, long way to goal</p>
                    <a href="#roadmap" class="link">
                        <i class="icon-double-angle-down icon-large"></i>
                    </a>
                </div>
            </div>
            <div class="social-row">
                <div class="social-button">
                    <div class="fb-like" data-href="http://thinking-in-box.herokuapp.com/" data-width="450" data-layout="button_count" data-show-faces="false" data-send="false"></div>
                </div>
                <div class="social-button">
                    <div class="g-plusone" data-size="standard" data-annotation="bubble" data-width="450" data-href="http://thinking-in-box.herokuapp.com/" data-align="right"></div>
                    <script type="text/javascript">
                      window.___gcfg = {lang: 'ru'};

                      (function() {
                        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                        po.src = 'https://apis.google.com/js/plusone.js';
                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                      })();
                    </script>
                </div>
                <div class="social-button">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://thinking-in-box.herokuapp.com/" data-via="ThinkingInBox">Tweet</a>                
                </div>
            </div>
	    </div>
    </div>
</section>
<div class="modal fade" id="orderModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Donation list</h4>
      </div>
      <div class="modal-body">
	<div style="text-align: center; min-height: 200px; padding-top: 80px;">
          <i class="icon-spinner icon-spin icon-large"></i> updating...
	</div>
      </div>
      <div class="modal-footer">
	<div class="row pull-left" style="float: left">
           <b>You also want to take part of the project?</b> 
           <p>You can make a donation, or tell about us in social networks</p>
        </div>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
    $(document).ready(function() {
        $('#funding-stat').load('{% url 'coinbase:box' %}');
    });

    $('#orderModal').on('show.bs.modal', function () {
	$(this).find('.modal-body').load('{% url 'coinbase:orders' %}');
    });

    /* Set dashboard height depends of window size */
    function FixDashboardSectionSize () {
        h = Math.max($(window).height(), $('.dashboard').height() + 180);
        $('#dashboard').css({height: h});
    }

    $(window).resize(FixDashboardSectionSize);
    $(document).ready(FixDashboardSectionSize);
</script>

