<link href='{{ STATIC_URL }}css/bitstarter/dashboard.css' rel='stylesheet' type='text/css'>
<section id="dashboard">
    <div>
        <div class="dashboard">
            <div class="box box-s logo dash-col-1 dash-row-2">
                MIND IN BOX
            </div> 
            <div class="box box-s dash-col-1 dash-row-1 box-purple">
                <div class="header">
                    Our Mission
                </div>
                <div class="cover">
                    <p>Who we are and what your goals</p> 
                    <a href="#mission-anchor" class="link">
                        <i class="icon-double-angle-down icon-large"></i>
                    </a>
                </div>
            </div>
            <div class="box box-s dash-col-2 dash-row-1 box-light-green">
                <div class="header">At a glance</div>
                <div class="cover">
                    <p>What is the box<br>
                    How it works</p>
                    <a href="#at-glance-anchor" class="link">
                        <i class="icon-double-angle-down icon-large"></i>
                    </a>
                </div>
                <div class="back">
                    <p class="attention">Beware of falling boxes!</p>
                    <p> Sorry, this site part isn't ready yet</p>
                    <p> We work hard to finish it as soon as possible</p>
                </div>
            </div>
            <div class="box box-s dash-col-3 dash-row-1 box-red">
                <div class="header">Features</div>
                <div class="cover">
                    <p>Features and tool what our service will prodive</p>
                    <a href="#features-anchor" class="link">
                        <i class="icon-double-angle-down icon-large"></i>
                    </a>
                </div>
                <div class="back">
                    <p class="attention">Beware of falling boxes!</p>
                    <p> Sorry, this site part isn't ready yet</p>
                    <p> We work hard to finish it as soon as possible</p>
                </div>
            </div>
            <div class="box box-x3 dash-col-4 dash-row-1 box-whit" id="crowdfunding-box">
                <div class="header">
                    <p>Crowdfunding</p>
                    <p class="header-comment">Everyone can help</p>
                </div>
                <div class="cover">
                    <div class="row center">
                        <div class="col-lg-10 col-lg-offset-1"> 
                            <div class="row statistics">
                                <div class="col-6 linediv-l">
                                    <h3>{{ backers_count }}</h3><p>backers</p>
                                </div>
                                <div class="col-6">
                                    <div class="linediv-c">
                                        <h3>${{ current_balance }}</h3><p>of $300,000</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                               <div class="thermometer progress active">
                                 <div class="progress-bar progress-bar-success" style="width: 0%;"></div>
                                 <div class="progress-bar progress-bar-warning" style="width: 100%;"></div>
                               </div>
                            </div>
                            <div class="row statistics">
                               <div class="col-12">
                                 <h4>{{ start_date|timeuntil }} left</h4>
                               </div>
                            </div>
                        </div>
                    </div>
                    <div class="row center">
                        <div class="donate-button">
                              <a class="coinbase-button" data-code="f35dfbc887825113329bbefed578450f" data-button-style="custom_small" href="https://coinbase.com/checkouts/f35dfbc887825113329bbefed578450f">Donate Bitcoins</a><script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>
                        </div>
                    </div>
                    <div class="row center"><h5>or<br>share us</h5></div>
                    <div class="row center">
                        <div class="col-lg-10 col-lg-offset-1">
                            <!-- AddThis Button BEGIN -->
                            <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                                <a class="addthis_button_facebook"></a>
                                <a class="addthis_button_twitter"></a>
                                <a class="addthis_button_google_plusone_share"></a>
                                <a class="addthis_button_linkedin"></a>
                                <a class="addthis_button_pinterest_share"></a>
                                <a class="addthis_button_compact"></a><a class="addthis_counter addthis_bubble_style"></a>
                            </div>
                            <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5204e4990d86bd7b"></script>
                            <!-- AddThis Button END -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="box box-s dash-col-3 dash-row-2 box-light-blue">
                <div class="header">Source code</div>
                <div class="cover">
                    <p>Open service with open source code</p>
                    <a href="#source-code-anchor" class="link">
                        <i class="icon-double-angle-down icon-large"></i>
                    </a>
                </div>
            </div>
            <div class="box box-s dash-col-1 dash-row-3 box-green">
                <div class="header">Mobile</div>
                <div class="cover">
                    <p>Your minds are everywhere with you</p>
                    <a href="#mobile-anchor" class="link">
                        <i class="icon-double-angle-down icon-large"></i>
                    </a>
                </div>
            </div>
            <div class="box box-s dash-col-2 dash-row-3 box-orange">
                <div class="header">Sandbox</div>
                <div class="cover">
                    <p>Easy to try</p>
                    <a href="#sandbox-anchor" class="link">
                        <i class="icon-double-angle-down icon-large"></i>
                    </a>
                </div>
            </div>
            <div class="crowdfunding-footer-arrow dash-col-4 dash-row-3">
                <img src="{{ STATIC_URL }}img/cf-footer.png"></img>
            </div>
            <div class="box box-s dash-col-3 dash-row-3 box-dark-gray">
                <div class="header">Roadmap</div>
                <div class="cover">
                    <p>Long, long way to goal</p>
                    <a href="#roadmap-anchor" class="link">
                        <i class="icon-double-angle-down icon-large"></i>
                    </a>
                </div>
            </div>
            {% comment %}                        
            <div class="box box-s dash-col-5 dash-row-1">Test Box 1, 5</div>
            <div class="box box-s dash-col-6 dash-row-1">Test Box 1, 6</div>
            <div class="box box-s dash-col-7 dash-row-1">Test Box 1, 7</div>
            <div class="box box-s dash-col-4 dash-row-2">Test Box 2, 4</div>
            <div class="box box-s dash-col-5 dash-row-2">Test Box 2, 5</div>
            <div class="box box-s dash-col-6 dash-row-2">Test Box 2, 6</div>
            <div class="box box-s dash-col-7 dash-row-2">Test Box 2, 7</div>
            <div class="box box-s dash-col-4 dash-row-3">Test Box 3, 4</div>
            <div class="box box-s dash-col-5 dash-row-3">Test Box 3, 5</div>
            <div class="box box-s dash-col-6 dash-row-3">Test Box 3, 6</div>
            <div class="box box-s dash-col-7 dash-row-3">Test Box 3, 7</div> 
            <div class="box box-s dash-col-1 dash-row-2">Test Box 2, 1</div>
            <div class="box box-s dash-col-2 dash-row-2">Test Box 2, 2</div>
            {% endcomment %}
        </div>
    </div>
</section>
