<section class="section-even" id="features">
    <div class="anchor-marker" id="features-anchor"></div>
    <label>Features</label>
    <div class="container">
        <h2 class="slogan">What we plan to do to help you</h2>
        <div style="margin-top: 100px">
            <p>This section is underconstruction now.</p>
            <p>The full list of features that we plan to provide with our service will be here soon.</p>
        </div>
        <h4>Here the list of some features</h4>
        <ul class="icons-ul">
            <li><i class="icon-li icon-ok-circle"></i>Ideas box</li>
            <li><i class="icon-li icon-ok-circle"></i>Brainstorming</li>
            <li><i class="icon-li icon-ok-circle"></i>Goal tracking</li>
            <li><i class="icon-li icon-ok-circle"></i>Task box</li>
            <li><i class="icon-li icon-ok-circle"></i>Check list</li>
            <li><i class="icon-li icon-ok-circle"></i>Calendar</li>
            <li><i class="icon-li icon-ok-circle"></i>Plan</li>
            <li><i class="icon-li icon-ok-circle"></i>Workflow</li>
            <li><i class="icon-li icon-ok-circle"></i>Dashboard</li>
            <li><i class="icon-li icon-ok-circle"></i>Product/features rates</li>
            <li><i class="icon-li icon-ok-circle"></i>User comments</li>
            <li><i class="icon-li icon-ok-circle"></i>Virtual box</li>
            <li><i class="icon-li icon-ok-circle"></i>Wareframing box</li>
            <li><i class="icon-li icon-ok-circle"></i>Workspace</li>
            <li><i class="icon-li icon-ok-circle"></i>etc.</li>
        </ul>
    </div>
</section>
