<section class="section-even" id="mission">
    <div class="anchor-marker" id="mission-anchor"></div>
    <label>Mission</label>
    <div class="container">
        <h2 class="slogan">Make the way from dream to reality easier</h2>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1">
                <h3 class="subheader">For person</h3>
                <ul class="icons-ul feature-details">
                    <li><i class="icon-li icon-ok-circle"></i>Improve thinking</li>
                    <li><i class="icon-li icon-ok-circle"></i>Increase focusing on goals</li>
                    <li><i class="icon-li icon-ok-circle"></i>Work without routine</li>
                    <li><i class="icon-li icon-ok-circle"></i>Control of life</li>
                </ul>
            </div>
            <div class="col-lg-5 col-lg-offset-1">
                <h3 class="subheader">For world</h3>
                <ul class="icons-ul feature-details">
                    <li><i class="icon-li icon-ok-circle"></i>Connect people minds</li>
                    <li><i class="icon-li icon-ok-circle"></i>Collaborate thinking</li>
                    <li><i class="icon-li icon-ok-circle"></i>Mutual help</li>
                </ul>
            </div>
        </div>
        <div class="row footer-icons">
            <div class="col-lg-5 col-lg-offset-1">
                <i class="icon-user icon-5x"></i>
            </div>
            <div class="col-lg-5 col-lg-offset-1">
                <i class="icon-globe icon-5x"></i>
            </div>
        </div>
    </div>
</section>
