<section class="section-even" id="mission">
    <div class="anchor-marker" id="mission-anchor"></div>
    <label>Mission</label>
    <div class="container">
        <h2 class="slogan">Make a way from dream to reality easier</h2>
	{% comment %}
	Improve people thinking
	Help focus
	Improve concentration
	Concentrate on details
	Increase motivation
	Control of life

	Connect people minds
	Coworking on common objectives
	
	{% endcomment %}
        <div class="row" style="margin-top: 60px">
            <div class="col-lg-6">
                <i class="icon-user footer-icons"></i>
                <h3 class="subheader">For Person</h3>
                <ul class="icons-ul feature-details">
                    <li><i class="icon-li icon-ok-circle"></i>Improve the thinking</li>
                    <li><i class="icon-li icon-ok-circle"></i>Focus on goals and objectives</li>
                    <li><i class="icon-li icon-ok-circle"></i>Concentrate on details</li>
                    <li><i class="icon-li icon-ok-circle"></i>Control of life</li>
                    <li><i class="icon-li icon-ok-circle"></i>Increase motivation</li>
                    <li><i class="icon-li icon-ok-circle"></i>Reduce the time required for supporting actions</li>
                </ul>
            </div>
            <div class="col-lg-6">
                <i class="icon-globe footer-icons"></i>
                <h3 class="subheader">For World</h3>
                <ul class="icons-ul feature-details">
                    <li><i class="icon-li icon-ok-circle"></i>Connect people minds</li>
                    <li><i class="icon-li icon-ok-circle"></i>Improve collaboration on common objectives</li>
                    <li><i class="icon-li icon-ok-circle"></i>Find people with best skills for each task</li>
                    <li><i class="icon-li icon-ok-circle"></i>Give everyone the opportunity to take part in achieving the common goals</li>
                </ul>
            </div>
        </div>
    </div>
</section>
