<section class="section-even" id="mobile">
    <div class="anchor-marker" id="mobile-anchor"></div>
    <label>Mobile</label>
    <div class="container">
        <h2 class="slogan">Your minds with you always and anywhere</h2>
        <ul class="icons-ul feature-details">
            <li><i class="icon-li icon-ok-circle"></i>Autosync for all connected devices</li>
            <li><i class="icon-li icon-ok-circle"></i>Offline access</li>
            <li><i class="icon-li icon-ok-circle"></i>Task reminder</li>
            <li><i class="icon-li icon-ok-circle"></i>Fast notes adding</li>
        </ul>
        <div class="row platforms">
            <div class="col-lg-2 col-lg-offset-2"><i class="icon-android icon-5x"></i></div>
            <div class="col-lg-2 col-lg-offset-1"><i class="icon-apple icon-5x"></i></div>
            <div class="col-lg-2 col-lg-offset-1"><i class="icon-html5 icon-5x"></i></div>
        </div> 
    </div>
</section>
