<section class="section-even" id="roadmap" style="height: 200%">
    <div class="anchor-marker" id="roadmap-anchor"></div>
    <label>Roadmap</label>
    <div class="container">
        <h2 class="slogan">Long, long way to goal</h2>
        <h2></h2>
        <ul class="icons-ul feature-details" style="display: none;">
            <li><i class="icon-li icon-ok-circle"></i>Crowdfunding</li>
            <li><i class="icon-li icon-ok-circle"></i>First version development</li>
            <li><i class="icon-li icon-ok-circle"></i>Beta-testing</li>
            <li><i class="icon-li icon-ok-circle"></i>Social tools</li>
            <li><i class="icon-li icon-ok-circle"></i>Work tools</li>
        </ul>
        <div class="row">
            <div class="col-lg-5 milestone right">Crowdfunding</div>
            <div class="col-lg-2"><div class="timeline-top"><div class="timepoint"></div></div></div>
            <div class="col-lg-5 at-the-same-time left">
                <div class="header">At the same time</div>
                <ul class="icons-ul">
                    <li><i class="icon-li icon-check-empty"></i>Design service features and tools</li>
                    <li><i class="icon-li icon-check-empty"></i>Open sandbox service</li>
                    <li><i class="icon-li icon-check-empty"></i>Start user votes for most useful features</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 at-the-same-time right">
                <div class="header">At the same time</div>
                <ul class="icons-ul">
                    <li>Task 1<i class="icon-li icon-check-empty"></i></li>
                    <li>Task 2<i class="icon-li icon-check-empty"></i></li>
                    <li>Task 3<i class="icon-li icon-check-empty"></i></li>
                </ul>
            </div>
            <div class="col-lg-2"><div class="timeline-center"><div class="timepoint"></div></div></div>
            <div class="col-lg-5 milestone left">Milestone 2</div>
        </div>
        <div class="row">
            <div class="col-lg-5 milestone right">Milestone 3</div>
            <div class="col-lg-2"><div class="timeline-bottom"><div class="timepoint"></div></div></div>
            <div class="col-lg-5 at-the-same-time left">
                <div class="header">At the same time</div>
                <ul class="icons-ul">
                    <li><i class="icon-li icon-check-empty"></i>Design service features and tools</li>
                    <li><i class="icon-li icon-check-empty"></i>Open sandbox service</li>
                    <li><i class="icon-li icon-check-empty"></i>Start user votes for most useful features</li>
                </ul>
            </div>
        </div>
    </div> 
</section>
