<section class="section-even" id="roadmap">
    <div class="anchor-marker" id="roadmap-anchor"></div>
    <label>Roadmap</label>
    <div class="container">
        <h2 class="slogan">Long, long way to goal</h2>
        <div style="margin-top: 100px">
            <p>This section is underconstruction now.</p>
            <p>The full list of features that we plan to provide with our service will be here soon.</p>
        </div>
        <ul class="icons-ul feature-details">
            <li><i class="icon-li icon-ok-circle"></i>Crowdfunding</li>
            <li><i class="icon-li icon-ok-circle"></i>First version development</li>
            <li><i class="icon-li icon-ok-circle"></i>Beta-testing</li>
            <li><i class="icon-li icon-ok-circle"></i>Social tools</li>
            <li><i class="icon-li icon-ok-circle"></i>Work tools</li>
        </ul>
    </div> 
</section>
