<section class="section-odd" id="source-code">
    <div class="anchor-marker" id="source-code-anchor"></div>
    <label>Source Code</label>
    <div class="container">
        <h2 class="slogan">We are open and user-oriented service</h2>
        <h2 class="slogan">Crowdfunding, crowdthinking and crowdsourcing</h2>
        <div class="row">
            <div class="col-lg-6">
                <ul class="icons-ul feature-details">
                    <li><i class="icon-li icon-ok-circle"></i>Open source front-end HTML/CSS/JS framework</li>
                    <li><i class="icon-li icon-ok-circle"></i>Open source back-end DJANGO-based framework</li>
                    <li><i class="icon-li icon-ok-circle"></i>API for tools development</li>
                    <li><i class="icon-li icon-ok-circle"></i>Full source code documentation</li>
                </ul>
            </div>
            <div class="col-lg-6 right">
                <img src="{{ STATIC_URL }}img/source-code.png" style="opacity: 0.2; margin-top: 30px;">
            </div>
        </div>
            <div class="feature-picture">
                <div class="col-lg-1 col-lg-offset-3"><i class="icon-bitbucket icon-5x"></i></div>
                <div class="col-lg-1 col-lg-offset-3"><i class="icon-github-alt icon-5x"></i></div>
            </div>
    </div>
</section>
