/* Dashboard and boxes */
#dashboard {
    display: table;
    height: 100%;
    vertical-align: middle;
}

#dashboard > div {
    display: table-cell;
    vertical-align: middle;
}

.dashboard {
    margin-top: -70px;
    position: relative;
    width: 985px;
    height: 425px;
    margin-left: auto;
    margin-right: auto;
}

.dashboard > .box {
    width: 130px;
    height: 35px;
    overflow: hidden;
    background-color: rgba(0,0,0,0);
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}

.dashboard:hover .box {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 3px #779;
    -moz-box-shadow: 0 0 3px #779;
    box-shadow: 0 0 3px #779;
}

.dashboard:hover .box:hover {
    -webkit-box-shadow:0 0 9px #000;
    -moz-box-shadow:0 0 9px #000;
    box-shadow:0 0 9px #000;
}

.dashboard:hover .box-s {
    width: 130px;
    height: 130px;
}

.dashboard:hover .box-x3 {
    width: 410px;
    height: 410px;
}

/* Box content */
.box > .header {
    text-align: center;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}

.dashboard:hover > .box > .header {
    padding: 4px 10px;
    text-align: left;
}

.box > .cover,
.box > .back,
.box > .footer {
    padding: 10px;
}

.box > .cover,
.box > .back,
.box > .footer {
    opacity: 0;
}

.dashboard:hover .box > .cover,
.dashboard:hover .box > .footer {
    opacity: 1;
}

.box > .back {
    top: 0px;
    height: 0px;
    position: absolute;
    width: 100%;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity: 0;
}

.box-s:hover > .back {
    height: 130px;
    opacity: 1;
}
    
.box-x3:hover > .back {
    height: 410px;
    opacity: 1;
}
    
.box > .back > p {
    margin-top: 5px;
    margin-bottom: 0px;
}

.box > .back > p:first-child {
    margin-top: 0px;
}

.cover > .link {
    position: absolute;
    bottom: 3px;
    display: block;
    color: white;
    width: 110px;
    text-align: center;
    margin-top: 20px;
}

.link:hover i {
    color: black !important;
}

/* Dashboard Grid */

.dashboard > [class*="dash-col-"],
.dashboard > [class*="dash-row-"] {
    position: absolute;
}

/* init positions for boxes */
.dashboard > .dash-row-1.dash-col-1 {
    top: 379px;
    left: 833px;
}

.dashboard > .dash-row-1.dash-col-2 {
    top: 148px;
    left: 756px;
}

.dashboard > .dash-row-1.dash-col-3 {
    top: 202px;
    left: 90px;
}

.dashboard > .dash-row-1.dash-col-4 {
    top: 60px;
    left: 290px;
}

.dashboard > .dash-row-1.dash-col-5 {
    top: 188px;
    left: 642px;
}

.dashboard > .dash-row-1.dash-col-6 {
    top: 158px;
    left: 363px;
}

.dashboard > .dash-row-1.dash-col-7 {
    top: 0px;
    left: 620px;
}

.dashboard > .dash-row-2.dash-col-1 {
    top: 145px;
    left: 360px;
}

.dashboard > .dash-row-2.dash-col-2 {
    top: 224px;
    left: 791px;
}

.dashboard > .dash-row-2.dash-col-3 {
    top: 302px;
    left: 659px;
}

.dashboard > .dash-row-2.dash-col-4 {
    top: 237px;
    left: 231px;
}

.dashboard > .dash-row-2.dash-col-5 {
    top: 103px;
    left: 778px;
}

.dashboard > .dash-row-2.dash-col-6 {
    top: 90px;
    left: 60px;
}

.dashboard > .dash-row-2.dash-col-7 {
    top: 5px;
    left: 125px;
}

.dashboard > .dash-row-3.dash-col-1 {
    top: 35px;
    left: 529px;
}

.dashboard > .dash-row-3.dash-col-2 {
    top: 315px;
    left: 465px;
}

.dashboard > .dash-row-3.dash-col-3 {
    top: 387px;
    left: 90px;
}

.dashboard > .dash-row-3.dash-col-4 {
    top: 76px;
    left: 717px;
}

.dashboard > .dash-row-3.dash-col-5 {
    top: 294px;
    left: 294px;
}

.dashboard > .dash-row-3.dash-col-6 {
    top: 7px;
    left: 225px;
}

.dashboard > .dash-row-3.dash-col-7 {
    top: 72px;
    left: 487px;
}

/* grid state */

.dashboard:hover > .dash-col-1 {
    left: 10px;
}

.dashboard:hover > .dash-col-2 {
    left: 150px;
}

.dashboard:hover > .dash-col-3 {
    left: 290px;
}

.dashboard:hover > .dash-col-4 {
    left: 430px;
}

.dashboard:hover > .dash-col-5 {
    left: 570px;
}

.dashboard:hover > .dash-col-6 {
    left: 710px;
}

.dashboard:hover > .dash-col-7 {
    left: 850px;
}

.dashboard:hover > .dash-row-1 {
    top: 10px;
}

.dashboard:hover > .dash-row-2 {
    top: 150px;
}

.dashboard:hover > .dash-row-3 {
    top: 290px;
}

/* LOGO */
.box.logo,
.dashboard:hover > .box.logo {
    padding-top: 35px;
    height: 130px;
    -webkit-transition: all 2s ease;
    -o-transition: all 2s ease;
    -moz-transition: all 2s ease;
    transition: all 2s ease;
}

.box.logo {
    width: 400px;
}

.dashboard:hover > .box.logo {
    width: 270px;
}

.box.logo,
.dashboard:hover > .box.logo,
.box.logo:hover {
    border: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*****************
 *  Boxes Styles *
 *  ************** */

/* Box typography */
.box.logo {
    font: bold 64px/72px 'Pathway Gothic One', sans-serif;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

.dashboard:hover > .box.logo {
    font: bold 48px/60px 'Pathway Gothic One', sans-serif;
}

.box > .header,
.box > .header > *:first-child {
    font: 26px/30px 'Pathway Gothic One';
}

.box > .cover {
    font: 14px/16px 'Roboto', sans-serif;
}

.box > .back,
.box > .footer {
    font: 12px/14px 'Roboto', sans-serif;
}

.box > .back > .attention {
    font: bold 14px/14px 'Roboto', sans-serif;
}

/* Box colors */
.dashboard .box {
    background-color: rgba(0,0,0,0);
}

.dashboard:hover .box {
    background-color: white;
    color: black;
}

.box.logo {
    background-color: rgba(0,0,0,0);
    color: white;
}

.dashboard:hover > .box.logo {
    color: rgba(254, 124, 34, 1);
    background-color: rgba(0,0,0,0);
}

.box > .header {
    color: rgba(238, 238, 170, 1);
}

.dashboard:hover .box > .header {
    color: rgba(109, 110, 113, 1);
}

.box > .back {
    color: black;
}

.box > .back > .attention {
    color: rgba(221, 85, 85, 1);
}

/* Purple */

.dashboard:hover .box-purple {
    background-color: rgba(147, 42, 182, 1);
}

.dashboard:hover .box-purple > .header,
.dashboard:hover .box-purple > .cover {
    color: white;
}

/* Light-green */

.dashboard:hover .box-light-green {
    background-color: rgba(140, 190, 41, 1);
}

.dashboard:hover .box-light-green > .header,
.dashboard:hover .box-light-green > .cover {
    color: white;
}

/* Red */

.dashboard:hover .box-red {
    background-color: rgba(224, 0, 0, 1);
}

.dashboard:hover .box-red > .header,
.dashboard:hover .box-red > .cover {
    color: white;
}

/* Light-blue */

.dashboard:hover .box-light-blue {
    background-color: rgba(25, 162, 222, 1);
}

.dashboard:hover .box-light-blue > .header,
.dashboard:hover .box-light-blue > .cover {
    color: white;
}

/* Green */

.dashboard:hover .box-green {
    background-color: rgba(44, 103, 0, 1);
}

.dashboard:hover .box-green > .header,
.dashboard:hover .box-green > .cover {
    color: white;
}

/* Orange */

.dashboard:hover .box-orange {
    background-color: rgba(254, 124, 34, 1);
}

.dashboard:hover .box-orange > .header,
.dashboard:hover .box-orange > .cover {
    color: white;
}

/* Dark-gray */

.dashboard:hover .box-dark-gray {
    background-color: rgba(51, 51, 51, 1);
}

.dashboard:hover .box-dark-gray > .header,
.dashboard:hover .box-dark-gray > .cover {
    color: white;
}

/* Dark-red */

.dashboard:hover .box-dark-red {
    background-color: rgba(183, 26, 26, 1);
}

.dashboard:hover .box-dark-red > .header,
.dashboard:hover .box-dark-red > .cover {
    color: white;
}

/* Light-gray */

.dashboard:hover .box-light-gray {
    background-color: rgba(177, 177, 177, 1);
}

.dashboard:hover .box-light-gray > .header,
.dashboard:hover .box-light-gray > .cover {
    color: white;
}

/* Yellow */

.dashboard:hover .box-yellow {
    background-color: rgba(247, 215, 8, 1);
}

.dashboard:hover .box-yellow > .header,
.dashboard:hover .box-yellow > .cover {
    color: white;
}

/* Dark-blue */

.dashboard:hover .box-dark-blue {
    background-color: rgba(31, 0, 104, 1);
}

.dashboard:hover .box-dark-blue > .header,
.dashboard:hover .box-dark-blue > .cover {
    color: white;
}

/* Magenta */

.dashboard:hover .box-magenta {
    background-color: rgba(173, 0, 102, 1);
}

.dashboard:hover .box-magenta > .header,
.dashboard:hover .box-magenta > .cover {
    color: white;
}

/* Brown */

.dashboard:hover .box-brown {
    background-color: rgba(198, 69, 33, 1);
}

.dashboard:hover .box-brown > .header,
.dashboard:hover .box-brown > .cover {
    color: white;
}

/* White */

.dashboard:hover .box-white {
    background-color: rgba(255, 255, 255, 1);
}

.dashboard:hover .box-white > .header,
.dashboard:hover .box-white > .cover {
    color: #333;
}

/* ----------------------------------------
 *  Special Boxes
 *  -------------------------------------- */

/* #cowdfunding-box */

.dashboard:hover #crowdfunding-box > .header {
    height: 60px;
    color: white;
    background-color: black;
}

.header-comment {
    font: bold small-caps 14px/10px 'Roboto', sans-serif;
    color: #AAA;
}

.statistics p {
    font: normal 16px/18px 'Roboto', sans-serif;
    margin-bottom: 2px;
}

.statistics h3,
.statistics h4,
.statistics h5 {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}

.progress {
    margin-top: 10px;
    margin-bottom: 5px;
}

.progress-bar-success {
    background-color: #8CBE29;
}

.progress-bar-warning {
    background-color: #F7D708;
}

@media (min-width: 980px){
    .linediv-l {
        border-right: 1px black solid;
    }
}

@media (max-width: 480px) {
    .linediv-l {
        border-top: 1px black solid;
    }
}

.donate-button {
    width: 160px;
    margin: 5px auto;
}

.crowdfunding-footer-arrow {
    opacity: 0;
    -webkit-transition: all 1s step-start;
    -o-transition: all 1s step-start;
    -moz-transition: all 1s step-start;
    transition: all 1s step-start;
    position: absolute;
    margin-left: 10px;
    margin-top: 60px;
    height: 50px;
    width: 400px;
    z-index: 1000;
}

.dashboard:hover .crowdfunding-footer-arrow {
    opacity: 1;
    -webkit-transition: all 0.6s step-end;
    -o-transition: all 0.6s step-end;
    -moz-transition: all 0.6s step-end;
    transition: all 0.6s step-end;
}

.crowdfunding-footer-arrow:hover + .box {
    background-color: #555;
    -webkit-box-shadow: 0 0 9px red;
    -moz-box-shadow: 0 0 9px red;
    box-shadow: 0 0 9px red;
}

