/* Base styles for bitstarter page */
html,
body {
    height: 100%;
}

/* Page background */

html {
    background: url(/static/img/bitstarter_bkg.jpg) no-repeat center center fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

body {
    background-color: rgba(0, 0, 0, 0.2);
}

/* Menu */

.navbar {
    background-color: rgba(0, 0, 0, 0.7);
}

.navbar-brand,
.navbar-nav > li > a {
    font: normal 20px/20px 'Pathway Gothic One', sans-serif;
    text-transform: uppercase;
}

.navbar-brand {
    margin-right: 50px;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    transition: all 1s linear;
}

.navbar-brand {
    color: rgba(255, 255, 255, 1);
}

.navbar-nav > li > a {
    -webkit-transition: border-color 1s linear;
    -moz-transition: border-color 1s linear;
    transition: border-color 1s linear;
}

.navbar-nav > li > a:hover {
    height: 50px;
    border-bottom: 4px solid rgba(255, 0, 0, 0.8);
}

/* Sections */

section {
    height: 100%;
    width: 100%;
    padding-top: 50px;
}

#dashboard {
    background-color: rgba(0, 0, 0, 0);
}

.section-odd {
    background-color: rgba(250, 250, 250, 0.8);
}

.section-even {
    background-color: rgba(230, 230, 230, 0.8);
}

#contacts {
    background-color: rgba(0, 0, 0, 0.8);
    height: 50%;
}

.row-spacer {
    height: 100px;
}
