/* Base styles for bitstarter page */
html,
body {
    height: 100%;
}

/* Page background */

html {
    background: url(/static/img/bitstarter_bkg.jpg) no-repeat center center fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

body {
    background-color: rgba(0, 0, 0, 0.2);
    font-family: 'Roboto', 'Open Sans';
}

/* Default font */
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', 'Open Sans';
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.anchor-marker {
    position: absolute;
    top: -50px;
}

/* Menu */

.navbar {
    background-color: rgba(0, 0, 0, 0.7);
}

.navbar-brand,
.navbar-nav > li > a {
    font: normal 20px/20px 'Pathway Gothic One', sans-serif;
    text-transform: uppercase;
}

.navbar-brand {
    margin-right: 50px;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    transition: all 1s linear;
}

.navbar-brand {
    color: rgba(255, 255, 255, 1);
}

.navbar-nav > li > a {
    -webkit-transition: border-color 1s linear;
    -moz-transition: border-color 1s linear;
    transition: border-color 1s linear;
}

.navbar-nav > li > a:hover {
    height: 50px;
    border-bottom: 4px solid rgba(255, 0, 0, 0.8);
}

/* Sections */

section {
    position: relative;
    min-height: 100%;
    width: 100%;
    padding: 60px;
    margin-top: 60px;
    box-shadow: 0 0 9px rgba(100, 100, 100, 0.8);
}

section > label {
    position: absolute; 
    top: 20px;
    left: -1px;
    width: 25%;
    height: 50px;
    padding-right: 30px;
    padding-top: 5px;
    text-align: right;
    font: 24px/36px 'Pathway Gothic One', sans-serif;
    text-transform: uppercase;
}


#dashboard {
    background-color: rgba(0, 0, 0, 0);
}

.section-odd {
    background-color: rgba(250, 250, 250, 0.8);
}

.section-even {
    background-color: rgba(230, 230, 230, 0.8);
}

.row-spacer {
    padding-top: 10px;
    min-height: 100px;
}

section ul.feature-details,
section ol.feature-details {
    margin-top: 50px;
    font-size: 20px;
    color: #333;
    font-weight: 300;
}

ol.feature-details > li,
ul.feature-details > li {
    margin-top: 20px;
}

section .feature-picture {
    margin: 70px auto;
}

section .feature-picture i {
    margin: 25px;
    color: rgba(200, 200, 200, 1);
}

section h2:first-child {
    margin-top: 60px;
}

section h2:last-child {
    margin-bottom: 80px;
}

section h2 {
    font-size: 36px;
    font-weight: 300;
    text-align: center;
}

/* Copyright */
.copyright {
    font-size: 14px;
    color: #555;
}

/* Undercontruction */
.under-construction {
    padding: 50px;
    font: lighter 18px/36px 'Roboto', sans-serif;
    color: rgba(183, 26, 26, 1);
}

/* Mission */

#mission > label {
    background-color: rgba(147, 42, 182, 0.8);
    border: 1px solid rgba(147, 42, 182, 1);
    color: white;
    box-shadow: 2px 2px 9px rgba(50, 50, 50, 0.7);
}

#mission h2 {
    color: rgba(147, 42, 182, 0.8);
}

#mission .subheader {
    font-size: 24px;
    font-weight: 300;
    color: #333;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 30px;
}

#mission .footer-icons {
    position: absolute;
    top: 40px;
    left: 30px;
    font-size: 30em;
    color: rgba(147, 42, 182, 0.1);
}

/* At a glance */

#at-glance > label {
    background-color: rgba(140, 190, 41, 0.8);
    border: 1px solid rgba(140, 190, 41, 1);
    color: white;
    box-shadow: 2px 2px 9px rgba(50, 50, 50, 0.7);
}

#at-glance h2 {
    color: rgba(140, 190, 41, 0.8);
}

/* How it works */

#how-it-works > label {
    background-color: rgba(140, 190, 41, 0.8);
    border: 1px solid rgba(140, 190, 41, 1);
    color: white;
    box-shadow: 2px 2px 9px rgba(50, 50, 50, 0.7);
}

#how-it-works h2 {
    color: rgba(140, 190, 41, 0.8);
}

/* Features */

#features > label {
    background-color: rgba(224, 0, 0, 0.8);
    border: 1px solid rgba(224, 0, 0, 1);
    color: white;
    box-shadow: 2px 2px 9px rgba(50, 50, 50, 0.7);
}

#features h2 {
    color: rgba(224, 0, 0, 0.8);
}

/* Source code section */

#source-code > label {
    background-color: rgba(25, 162, 222, 0.8);
    border: 1px solid rgba(25, 162, 222, 1);
    color: white;
    box-shadow: 2px 2px 9px rgba(50, 50, 50, 0.7);
}

#source-code h2 {
    color: rgba(25, 162, 222, 0.8);
}

/* Mobile section */

#mobile > label {
    background-color: rgba(44, 103, 0, 0.8);
    border: 1px solid rgba(44, 103, 0, 1);
    color: white;
    box-shadow: 2px 2px 9px rgba(50, 50, 50, 0.7);
}

#mobile h2 {
    color: rgba(44, 103, 0, 0.8);
}

#mobile .platforms {
    margin-top: 80px;
    width: 100%;
    color: rgba(200, 200, 200, 1);
}

.platforms .icon-html5:hover {
    color: rgba(183, 26, 26, 1);
}

.platforms .icon-android:hover {
    color: rgba(140, 190, 41, 1);
}

.platforms .icon-apple:hover {
    color: rgba(10, 10, 10, 1);
}

/* Sandbox section */

#sandbox > label {
    background-color: rgba(254, 124, 34, 0.8);
    border: 1px solid rgba(254, 124, 34, 1);
    color: white;
    box-shadow: 2px 2px 9px rgba(50, 50, 50, 0.7);
}

#sandbox h2 {
    color: rgba(254, 124, 34, 1);
}

/* Roadmap */

#roadmap > label {
    background-color: rgba(51, 51, 51, 0.8);
    border: 1px solid rgba(51, 51, 51, 1);
    color: white;
    box-shadow: 2px 2px 9px rgba(50, 50, 50, 0.7);
}

#roadmap h2 {
    color: rgba(51, 51, 51, 0.8);
}


/* Roadmap time line styles */

/* Layout */

.milestone {
    height: 128px;
    padding-top: 43px;
}

.at-the-same-time > ul {
    margin-left: 0px;
}

.at-the-same-time > ul > li {
    margin-bottom: 3px;
    margin-left: -3em;
    margin-right: 1.5em;
}

.right .icons-ul .icon-li {
    left: auto;
}

.at-the-same-time > .header {
    margin-top: 15px;
    margin-bottom: 15px;
}

.timeline-top,
.timeline-bottom,
.timeline-center {
    width: 8px;
    margin-left: auto;
    margin-right: auto;
    height: 64px;
}

.timepoint {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 53px;
    height: 22px;
    width: 22px;
    border-radius: 11px;
    border: 3px solid #AAA;
}

.timeline-top {
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.timeline-bottom {
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

/* Typography */

.milestone {
    font: 300 32px/32px 'Roboto', sans-serif;
}

.at-the-same-time {
    font: 14px/16px 'Roboto', sans-serif;
}

.at-the-same-time > .header {
    font: 16px/16px 'Roboto', sans-serif;
}

/* Color scheme */
.milestone {
    color: #555;
}

.active .milestone {
    color: rgba(183, 26, 26, 1);
}

.at-the-same-time {
    color: #555;
}

.active .at-the-same-time {
    color: rgba(183, 26, 26, 1);
}

.at-the-same-time > .header {
    color: #888;
}

.active > .at-the-same-time > .header {
    color: rgba(255, 40, 40, 1);
}

[class*="timeline-"] {
    background-color: #AAA;
}

.active [class*="timeline-"] {
    background-color: rgba(183, 26, 26, 1);
}

[class*="timeline-"].future {
    background-color: #AAA;
}

.timepoint {
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(254, 124, 34, 1);
}

.active > .timepoint {
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(225, 0, 0, 1);
}

/* end Roadmap section */

/* Contact Section */

#contact {
    background-color: rgba(0, 0, 0, 0.8);
    height: 600px;
    min-height: 0;
}

#contact > label {
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(30, 30, 30, 1);
    color: white;
    box-shadow: 2px 2px 9px rgba(50, 50, 50, 0.7);
}

#contact .subheader {
    font-size: 24px;
    font-weight: 100;
    color: white;
    text-align: right;
    margin-bottom: 40px;
    margin-top: 30px;
}

#contact .line {
    width: 42%;
    border-bottom: 1px solid #FFF;
    height: 40px;
    float: left;
}

#contact input,
#contact textarea {
    margin: 10px auto;
    line-height: 24px;
    border: 2px solid rgba(100, 100, 100, 0.8);
    border-radius: 2px;
    background-color: rgba(50, 50, 50, 1);
    font: 18px/24px 'Roboto';
    color: rgba(230, 230, 230, 1);
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

#contact input {
    height: 50px;
}

#contact textarea {
    height: 200px;
}

#contact input:focus,
#contact textarea:focus {
    border: 2px solid #19A2DE;
    -webkit-box-shadow: 0 0 9px rgba(25, 162, 222, 0.8);
            box-shadow: 0 0 9px rgba(25, 162, 222, 0.8);
}

#contact input:hover,
#contact textarea:hover {
    border: 2px solid #FE7C22;
    -webkit-box-shadow: 0 0 9px rgba(254, 124, 34, 0.8);
            box-shadow: 0 0 9px rgba(254, 124, 34, 0.8);
}

#contact button {
    border: none;
    background-color: #19A2DE;
    border-radius: 2px;
    color: white;
    font-weight: normal;
}

#contact button:hover {
    background-color: rgba(30, 172, 242, 1);
}

#social-links .subheader {
    text-align: center;
}

#social-link {
    text-align: center;
}

#social-links i {
    text-align: center;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 96px;
}

a > i {
    color: white;
}

a:hover > i {
    color: rgba(254, 124, 34, 1);
    text-decoration: none;
}

