    #carousel-mission {
        position: relative;
        margin: 60px auto;
        height: 600px;
        width: 800px;
    }

    /* Mission Carousel Indicators */
    #mission .carousel-indicators {
    	left: auto;
    	right: 0px;
    	top: 0;
    	bottom: 0;
    	width: 290px;    	
    }

    #mission .indicator {
    	position: absolute;
    	height: 110px;
    	width: 110px;
    	-webkit-transform: rotate(-45deg);
    	-moz-transform: rotate(-45deg);
    	-ms-transform: rotate(-45deg);
    	-o-transform: rotate(-45deg);
    	transform: rotate(-45deg);
    	font: 500 18px/26px 'Roboto', sans-serif;
    }

    #mission .indicator > .caption {
    	-webkit-transform-origin: 50% 50% 0;
    	-moz-transform-origin: 50% 50% 0;
    	-ms-transform-origin: 50% 50% 0;
    	-o-transform-origin: 50% 50% 0;
        transform-origin: 50% 50% 0;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        height: 90px;
        width: 90px;
        padding-top: 20px;
        margin: 10px auto;
        text-align: center;
    }

    #mission .indicator > .cover {
    	position: absolute;
        top: 6px;
        bottom: 6px;
        left: 6px;
        right: 6px;
        opacity: 0;
        -webkit-transition: opacity 0.5s ease;    
        -moz-transition: opacity 0.5s ease;    
        -o-transition: opacity 0.5s ease;
        -ms-transition: opacity 0.5s ease;
        transition: opacity 0.5s ease;
    }

    #mission .indicator.green {
        background: url(/static/img/mission-box-green.png);
        color: rgba(140, 190, 41, 1);
    }

    #mission .indicator.green > .cover {
    	background-color: rgba(140, 190, 41, 0.8);
    }

    #mission .indicator.orange {
        background: url(/static/img/mission-box-orange.png);
        color: rgba(255, 147, 30, 1);
    }

	#mission .indicator.orange > .cover {
    	background-color: rgba(255, 147, 30, 0.8);
    }

    #mission .indicator.red {
        background: url(/static/img/mission-box-red.png);
        color: rgba(255, 29, 37, 1);   	
    }

    #mission .indicator.red > .cover {
        background-color: rgba(255, 29, 37, 0.8);   	
    }

    #mission .indicator.purple {
        background: url(/static/img/mission-box-purple.png);
        color: rgba(102, 45, 145, 1);
    }

    #mission .indicator.purple > .cover {
        background-color: rgba(102, 45,145, 0.9);
    }

    #mission .indicator.blue {
        background: url(/static/img/mission-box-blue.png);
        color: rgba(63, 169, 245, 1);
    }

    #mission .indicator.blue > .cover {
        background-color: rgba(63, 169, 245, 0.9);
    }

    #mission .indicator.position-1 {
    	top: 150px;
        left: 0px;      
    }

    #mission .indicator.position-2 {
        top: 302px;
        left: 0px;
    }

    #mission .indicator.position-3 {
        top: 226px;
        left: 80px;
    }

    #mission .indicator.position-4 {
        top: 150px;
        left: 160px;
    }

    #mission .indicator.position-5 {
        top: 302px;
        left: 160px;
    }

    #mission .indicator.active {
    	height: 110px;
    	width: 110px;
    	color: white;
    }

    #mission .indicator.active > .cover {
    	opacity: 1;
    	-webkit-transition: opacity 0.5s ease;    
        -moz-transition: opacity 0.5s ease;    
        -o-transition: opacity 0.5s ease;
        -ms-transition: opacity 0.5s ease;
        transition: opacity 0.5s ease;
    }

    /* Mission carousel items */
	#carousel-mission .item {
    	height: 800px;
    	font: 300 14px/22px 'Roboto', sans-serif;
    	color: rgba(77, 77, 77, 1);
    }

    /* Item backgrounds */

    #carousel-mission .item-box {
    	position: absolute;
        background: url(/static/img/mission-box-dark-gray.png) no-repeat;
        left: 82px;
        top: 82px;
        height: 400px;
        width: 400px;        
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    #carousel-mission .item .background {
    	position: absolute;
    }

    #mission-think-slide > .background {    	
    	background: url(/static/img/mission-think.png) no-repeat; 
    	top: -30px;
    	left: 0px;
    	width: 800px;
    	height: 600px;
    }

    #mission-life-slide > .background {
    	background: url(/static/img/mission-life.png) no-repeat; 
    	top: 230px; 
    	left: 400px;
    	width: 100px;
    	height: 99px;
    }

    #mission-time-slide > .background {
    	background: url(/static/img/mission-save-time.png) no-repeat; 
    	top: 397px; 
    	left: 137px;
    	width: 293px;
    	height: 270px;
    }

    #mission-together-slide > .background {
    	background: url(/static/img/mission-together.png) no-repeat; 
    	top: 0px; 
    	left: 0px;
    	width: 358px;
    	height: 414px;
    }

    #mission-personal-slide > .background {
    	background: url(/static/img/mission-personal.png) no-repeat; 
    	top: 230px; 
    	left: 400px;
    	width: 100px;
    	height: 99px;
    }

    /* Item Text Styles */
    
    #carousel-mission .item .caption {    	
    	margin-top: 80px;
    	margin-left: 183px;
    	margin-bottom: 20px;
    	width: 200px;    	
    	font: 300 40px/50px 'Roboto', sans-serif;
    	text-align: center;
    }

    #carousel-mission .item .comment {
    	margin: 20px 30px 30px 30px;
    	width: 506px;
    	text-align: center;
    	font: 300 14px/22px 'Roboto', sans-serif;	
    }

    #carousel-mission .item .comment.middle {
    	font: 300 16px/24px 'Roboto', sans-serif;	
    }

    #carousel-mission .item .comment.big {
    	font: 400 18px/26px 'Roboto', sans-serif;	
    }